[2020-04-30 07:22] arita37 opened #324 "Need to re-code all with determined trial class ?"
Hi,
Thanks for good project.
Is it a way to have a loose couplings between
our existing model and Determined framework
without the need of re-coding current model
with Trial class ?

There is optuna and horovod which proceed in that way (external meta processing) ?
Thanks

[2020-04-30 16:58] shiyuann commented on #324
Hi,

Thanks for trying out this project!

There is an experimental API called Native API that has idiomatic design as the native frameworks, like Tensorflow Keras and Estimator. It requires much less effort to re-code your current model than Trial API. Please check out this tutorial for using it with Tensorflow Keras (https://docs.determined.ai/latest/tutorials/native-tf-keras/index.html). Full do

[2020-05-01 00:54] Mistobaan commented on #324
Exactly my same comment of @arita37 The moment I saw
[code]
or
[code]
I closed the tutorial
the new approach is definitely more interesting
[code]
which I would see it evolved into a single decorator line
[code]
all the configs and other details can be configured at run time
[code]

which clearly puts almost zero efforts for the user to try out the library.

Worst case scenario the software does t

[2020-05-01 01:41] arita37 commented on #324
Thanks.

But, what about pytorch support ?

[2020-05-01 01:48] arita37 commented on #324
Few more comments:

Believe you guys should follow the steps
of Horovod or others , which aims same thing.
(Hyper params less).

Horovod works on Pytorch CPU and GPU.
It seems Determined miss this part too.

Adding layer of new code or new classes
(ie Trial...) is the opposite of what you are claiming : Simplify DL compute.

“Native API” looks better, however,
it seems still at early stage, a bit

[2020-05-01 02:50] Mistobaan commented on #324
You could simply check  if the object is a subclass of one or the other project:

![Screen Shot 2020-04-30 at 7 48 49 PM](https://user-images.githubusercontent.com/112599/80777968-bda05280-8b1b-11ea-9181-be1060695219.png)

[2020-05-13 23:03] OwenHua666 opened #519 "`det-deploy local fixture-up` doesn't show agents on the web"
Hi,
I tried to follow the tutorial to set up determined on my local machine. The machine is running Ubuntu18.04 with one 2080Ti. The driver is 440.82.
After installing the CLI and try to run the single node single agent by `det-deploy local fixture-up`, there is not agent found on the web.
[code]
Do I need to provide a configuration file for the fixture-up run?

[2020-05-14 00:06] davidhershey commented on #519
Is the docker container `determined-agent-0` running?

[2020-05-14 00:24] OwenHua666 commented on #519
There was a problem with my nvidia-docker2. I solved it by restarting the docker. It is working now. Thank you!

[2020-05-14 00:24] #519 closed

[2020-05-29 19:50] shiyuann commented on #324
@arita37 Right now, we don't have Native API with Pytorch support. For Pytorch, the answer to your question is yes we need to re-code the code with the trial class.

[2020-05-29 19:57] shiyuann commented on #324
@Mistobaan Thanks for the idea of the decorator and the feedback on the new API. The decorator approach definitely looks more flexible. The reason why we don't support decorator is that given how the current system loads user code we want to ensure the model is built after calling `init`. That's why we only support `.wrap_model` for the time being.

[2020-05-29 23:36] arita37 commented on #324
Thanks for answer and releasing your tools.

Think after some re-design and addon
compatibility with pytorch and al.
Tool would be very handy to use.

Honestly, re-writing an existing codebase
is quite some efforts, having a good interface and usage makes the big difference (!)

[2020-06-01 17:01] #324 closed

[2020-06-04 04:02] liamcli opened #643 "@liamcli should we add the `Work in progress` label to the PR since it sounds like there are some open questions?"
I changed the PR status to Draft and added WIP to the description.  Let me know if there's another tag/flag you were referring to.

@liamcli should we add the `Work in progress` label to the PR since it sounds like there are some open questions?

_Originally posted by @brain-good in https://github.com/determined-ai/determined/pull/634#issuecomment-638579086_

[2020-06-04 04:03] #643 closed

[2020-06-15 14:39] Mrhs121 opened #712 "How do I use my own dataset?"
Let's say I've already downloaded the data set.

The directory structure is as follows:
 -rw-r--r-- 1 dc2-user dc2-user  653 Jun 13 08:23 adaptive.yaml
-rw-r--r-- 1 dc2-user dc2-user  405 Jun 13 08:23 const.yaml
-rw-r--r-- 1 dc2-user dc2-user 1.5K Jun 15 22:27 data.py
-rw-r--r-- 1 dc2-user dc2-user  486 Jun 13 08:23 distributed.yaml
-rw-r--r-- 1 dc2-user dc2-user  555 Jun 13 08:23 layers.py
drwxrw

[2020-06-15 17:12] neilconway commented on #712
@Mrhs121 Hi! I believe we already discussed this via Slack. If so, can we close this issue?

[2020-06-16 01:07] Mrhs121 commented on #712
Of course. Thank you for your help

[2020-06-16 01:11] neilconway commented on #712
Great!

[2020-06-16 01:11] #712 closed

[2020-06-24 15:46] sbhonde1 opened #771 "The following resource(s) failed to create: [DeterminedAddress]"
I tried to run `det-deploy aws up --cluster-id testcluster0 --keypair mykeypairname --deployment-type vpc`. It failed with `--depoyment-type simple` as well. I also made sure that I have all the permissions before running these.
Any help would be appreciated.
Thank you

[2020-06-24 17:41] neilconway commented on #771
@sbhonde1 Thanks for the report! Can you post the complete output that is produced by `det-deploy`? Might be easier to understand what is going on with `--deployment-type simple` first and then we can investigate the `vpc` case later.

[2020-06-24 17:55] seanr15 commented on #771
The Cloudformation console might have more information on why the resource failed to create. You should see a stack there named `testcluster0`. It could be that you are already at your Elastic IP (EIP) quota if the DeterminedAddress was the only failing resource. Both `vpc` and `simple` attach an EIP to the Determined master instance.

[2020-06-24 19:21] sbhonde1 commented on #771
@neilconway @seanr15 Thank you for the quick response.
I was able to run `det-deploy` using a `secure` type. However, I got the following message on CloudFormation when I ran with `vpc` :
[code]

[2020-06-24 19:29] seanr15 commented on #771
The CloudFormation templates behind `det-deploy` were not designed to run from one deployment type to another. If you ran `det-deploy aws up --deployment-type vpc` and then followed with `det-deploy aws up --deployment-type secure`, there is a good chance your deployment is in a funky state. I recommend running `det-deploy aws down` to remove the resources and try again using `det-deploy aws up --

[2020-06-24 19:57] sbhonde1 commented on #771
I am totally new to this so I think it was in a funny state. I was not able to connect to the master. I am trying again with `--deployment-type simple`. Is there any way exist to check if I am able to connect/ping to master?

[2020-06-24 20:21] seanr15 commented on #771
Interesting. Seems like things are still in a strange state.

Are you on our community slack channel (determined-community.slack.com)? I can hop on a slack call to get you unblocked. Send me a DM - sean.determined

[2020-06-24 20:38] sbhonde1 commented on #771
Hi Sean,
I tried reaching out but I think I do not have access to slack group. Also, I am not able to login using my personal slack account.

[2020-06-24 20:39] seanr15 commented on #771
[Use this link](https://join.slack.com/t/determined-community/shared_invite/zt-cnj7802v-KcVbaUrIzQOwmkmY7gP0Ew) to join

[2020-06-24 21:46] sbhonde1 commented on #771
The issue was caused because of internal aws setup. The `--deployment-type secure` is working fine so closing this for now. I will comment if I find the exact reason.

[2020-06-24 21:46] #771 closed

[2020-07-11 06:11] tekumara opened #868 "Notebooks started from the UI don't appear in the CLI"
Create a local cluster: `det-deploy local cluster-up --no-gpu`
Visit the UI and launch a new notebook.

The notebook isn't listed in the CLI:
[code]

[2020-07-11 07:00] tekumara opened #869 "shell ssh connect operation timed out (local cluster on macOS)"
Create a local cluster on a macOS laptop: `det-deploy local cluster-up --no-gpu`

Start a shell:
[code]

The shell container (naughty_nightingale) is running and listening on `0.0.0.0:32773`:
[code]

Connecting to `0.0.0.0` works:
[code]

Bridge network gateway is on 172.18.0.1:
[code]

Looks like `det shell` is connecting to the bridge network gateway (172.18.0.1) rather than localhost.

[2020-07-13 11:44] vishnu2kmohan commented on #868
@tekumara Would you please try again after trying to login via `det user login`?

I assume you're seeing this is on Determined [0.12.11](https://github.com/determined-ai/determined/releases/tag/0.12.11)?

[2020-07-13 11:50] vishnu2kmohan commented on #869
@tekumara I'm unable to reproduce this issue (similar to https://github.com/determined-ai/determined/issues/868) on [0.12.11](https://docs.determined.ai/latest/release-notes.html)

Would you please share the output of `docker networks ls`?

[2020-07-13 18:25] neilconway commented on #868
@tekumara Did the notebook actually launch successfully / does it appear in the WebUI? (Note that you'll need to specify launching a CPU-only notebook if your cluster has no GPUs.)

[2020-07-13 20:40] vishnu2kmohan commented on #869
@tekumara Also, please share the output of `ip a` and `ip route`, thanks!

[2020-07-19 04:02] tekumara commented on #869
I tried again with Determined 0.12.11 and reproduced the issue.

More info:
[code]

This is running on macOS so I don't have `ip route`, but I can do:

[code]

It looks like `det shell` is trying to use the bridge network IP. But the docker (Linux) bridge network isn't [accessible from a macOS host](https://docs.docker.com/docker-for-mac/networking/#per-container-ip-addressing-is-not-possible) bec

[2020-07-19 05:22] tekumara commented on #868
@vishnu2kmohan thanks for pointing me in the right direction.

I'd logged into the Web UI as `admin`, and wasn't logged in on the CLI, so was authenticated as the `determined` user.

`det notebook list -a` shows me the notebook started by admin!

[2020-07-19 05:22] #868 closed

[2020-07-20 07:54] pieromacaluso opened #906 "Unable to open Notebook via Web Services"
**Determined-AI version**: 0.12.11
**Installation method**: `det-deploy local cluster-up`

After installing and configuring users through the determined CLI, I am unable to access to a "just-created" notebook. The system correctly pulls `determined/environments` image and from the logs, it is clear that the notebook is created.

[code]

The problem is that when I try to open the notebook from the

[2020-07-21 14:33] vishnu2kmohan commented on #906
Hi @pieromacaluso can you give us a few more details about the machine on which you've spawned the cluster?

What OS are you running? Mac/Linux?

What's the output of `docker network ls`, and `ip a` & `ip route` if on Linux, or `netstat -rn` if on Mac?

[2020-07-21 15:10] pieromacaluso commented on #906
Hi @vishnu2kmohan and thanks for your reply!

I am running this on: `Ubuntu 20.04 LTS`

Here are the outputs I get

- `docker network ls`

[code]

- `ip a` (privacy filter applied)

[code]

- `ip route` (privacy filter applied)
[code]

[2020-07-21 17:40] vishnu2kmohan commented on #869
@tekumara We're unable to reproduce this issue. Do you have `DET_MASTER` explicitly set to some hostname/IP (that is **not** `localhost`)?

Does `det -m localhost:8080 shell` work?

[2020-07-21 17:56] vishnu2kmohan commented on #906
@pieromacaluso how are you trying to open the Notebook from the browser?

You should be able to load up the Determined WebUI by pointing to `http://localhost:8080` (or to `http://<Hostname or IP of your Ubuntu machine>:8080` if you're not using a browser launched on the Ubuntu machine itself) and on the Dashboard (which is the default page that loads up, on which) you should see an active task car

[2020-07-22 07:54] pieromacaluso commented on #906
I tried to open the notebooks by using the approaches you described.

If I open the notebook from the open button, the system stays on this page for seconds.
![Redirecting](https://i.imgur.com/lyIEDGn.png)

Then it redirects to `https://<Hostname/IP of your Ubuntu machine>:8080/proxy/c91200a8-bae3-4c61-b3e9-07af6d2fc51e/lab/tree/Notebook.ipynb?reset`, but it returns `ERROR 502`.

To force this beh

[2020-07-22 18:46] rb-determined-ai commented on #906
@pieromacaluso, thanks for reporting this, this definitely *should* work.

Would you mind sharing a portion of your master logs that covers the window starting with when the notebook started and includes the moment when you hit the 502 error?  You can find them from the Web UI in the lower left-hand corner.

Also, it would be helpful if we could see how the agent was launched.  Could you run `dock

[2020-07-23 12:27] tekumara commented on #869
I don't have the `DET_MASTER` env var set. `det -m localhost:8080 shell` lists my shells, but `det -m localhost:8080 shell open 7c8940d9...` errors as above.

[2020-07-23 15:35] pieromacaluso commented on #906
[code]

[code]

[code]

The IP shape of my Ubuntu machine is `XXX.XXX.XX.XX`

It seems to me that the link `http://XXX.XXX.XX.XX/proxy/e2846689-1d3f-4a15-9310-af086b7aa6f8/` does not properly redirect the connection to `http://XXX.XXX.XX.XX:32817/proxy/e2846689-1d3f-4a15-9310-af086b7aa6f8/`. If I put the last-mentioned link in the browser, it works! However, I noticed that the problem with the con

[2020-07-25 00:52] rb-determined-ai commented on #906
I spent some time today trying to reproduce this on a fresh Ubuntu 20.04 machine, but no luck.

Ok, so we know if you are able to connect to the notebook by visiting `http://XXX.XXX.XX.XX:32817/proxy/e2846689-1d3f-4a15-9310-af086b7aa6f8` that the notebook is running and the port is accessible.

We also know based on the on the `registering service: ...` line from the master logs that the master is

[2020-07-25 12:24] yitang opened #949 "Number of training steps is unclear when max_steps > 1 epoch"
I have a dataset that has 829 * 100 mini-batches. If I set max_steps to 9 and batches_per_step to 100 (default) then:

the training stopped before reaching to step 9 due to StopIteration exception, and the python process was terminated with "container failed with non-zero exit code: container failed with non-zero exit code: 1". immediately, another python process started to train for 6 steps (600

[2020-07-25 17:01] neilconway commented on #949
@yitang Can you share your data loading code? e.g., the implementation of `build_training_data_loader`? Are you using `determined.pytorch.DataLoader`?

[2020-07-25 17:24] neilconway commented on #949
@yitang It would also help if you can post the complete trial logs for this trial (e.g., `det trial logs <trial-id>`).

[2020-07-25 17:40] yitang commented on #949
hi @neilconway thanks for looking into this.

Since i can't replace determined.pytorch.DataLoader by pytorch dataloader in `build_training_data_loader`, i'm doing somehting like this:

[code]

the SD.train_dl is a pytorch data loader created by

[code]

[2020-07-25 17:53] neilconway commented on #949
@yitang Ah -- clever, but that unfortunately will not work :) We expect that `build_training_data_loader` and `build_validation_data_loader` return instances of `determined.pytorch.DataLoader`. Is it possible to modify how `SD.train_dl` is constructed so that it is an instance of `determined.pytorch.DataLoader` rather than a standard PyTorch data loader?

[2020-07-25 18:01] yitang commented on #949
@neilconway yeah, by adding for_determined=True argument so it returns `determined.pytorch.DataLoader`.

just out of curiosity, why it behaves differently? i was looking at the harness/determined/pytorch/_data.py script and i couldn't figure it out.

i also attached the log you were asking for if it helps.
[tmp.log](https://github.com/determined-ai/determined/files/4976143/tmp.log)

[2020-07-25 18:01] #949 closed

[2020-07-25 18:40] neilconway commented on #949
@yitang We need `determined.pytorch.DataLoader` rather than the standard PyTorch data loader so that we can customize data loading behavior in a high-performance way. Specifically, we want to do things like shard data for distributed training or restart midway through a training dataset (due to crash recovery) -- using our own data loader implementation means we can do those things efficiently.

[2020-07-27 10:15] pieromacaluso commented on #906
Thanks for your patience and kindness @rb-determined-ai! Here it is what I have found.

I used always the same public IP address.

[code]
I executed this command on the machine (replacing correct variables) and the curl command does not receive an answer. I tried to leave it opened for 2 minutes.

Agent Environment: `determinedai/determined-agent:0.12.11`
Output of Agent Logs from the start of a n

[2020-07-27 10:27] pieromacaluso commented on #906
curl is working with `http://488f9e1cafe7:8888/proxy/bf8271a4-04b3-4c3c-bc3e-ba3cbe01c9d5/lab/tree/Notebook.ipynb`

[2020-07-27 16:15] rb-determined-ai commented on #906
Ok, cool.  This narrows the issue down quite a bit.  The fact that

works but

does not work confirms that the issue is a firewall issue.  Because our system is designed to operate on a multi-machine cluster, we would not try to use docker to deal with bridged networking; i.e. we would never try to contact the notebook by trying to resolve the `488f9e1cafe7:8888` hostname.  Instead, we configure t

[2020-07-28 10:18] pieromacaluso commented on #906
Thanks @rb-determined-ai for your illuminating comment! It finally worked out!

I just post there the additional steps to solve this problem:
1. Localize the id of the network used by the cluster using `docker network ls` and take out the <ID>.
2. Run `ifconfig` on the cluster machine and verify that there is an interface called `br-<ID>`
3. Run `iptables -A INPUT -i br-<ID> -j ACCEPT`

Let me kno

[2020-07-29 22:02] rb-determined-ai commented on #906
@pieromacaluso Sorry for the delayed response, but if you wanted to contribute this to the FAQ Docs, that would be fantastic!  We had another community member on our community slack hit the same issue actually.

[2020-07-30 09:07] pieromacaluso commented on #906
I will soon contribute to the FAQ Docs! Thanks for your time and help! 👍

[2020-07-30 09:07] #906 closed

[2020-07-30 20:53] Dri4n opened #982 "Docker compose installation"
Hello greetings from Chile.

I'm new to determinated, honestly I've gotten a bit lost in the docker install documentation, and I've decided to create a docker-compose.yml to make new users a little easier.

I do not know if I am doing the right thing when creating a case, on the contrary, please specify how to continue with the contribution.

URL Descarga docker-compose.yaml [https://drive.google.

[2020-08-01 16:17] neilconway commented on #982
@Dri4n Welcome! And thank you for putting that Docker compose file together. Under the covers, `det-deploy local` is also using Docker Compose in a fairly similar way, so what you're doing looks reasonable to me.

Do you have any suggestions on how we can improve the installation documentation, or any specific things that you found to be confusing?

[2020-08-11 19:55] luisoutomaior opened #1057 "Failed to create experiment: invalid experiment: invalid experiment configuration: error unmarshaling JSON: while decoding JSON: json: unknown field "max_length""
I get into this issue when running the examples/official/trial/mnist_gan_pytorch with the command:
`det experiment create distributed.yaml .`

The fix is changing the max_length field in distributed.yaml from:

[code]
to:

[code]

[2020-08-12 22:38] neilconway commented on #1057
@luisoutomaior Thank you for reporting this issue! The example config file you posted that uses `max_length` is intended for use with the next release of Determined. With Determined <= 0.12.13, I'd recommend using the examples that are distributed with the product, or else looking at the `0.12.13` tag on GitHub: e.g., https://github.com/determined-ai/determined/tree/0.12.13/examples/official/trial

[2020-08-12 22:38] #1057 closed

[2020-08-12 23:09] luisoutomaior opened #1074 "mnist_gan_pytorch example errors "'PyTorchTrialContext' object has no attribute 'wrap_model'`""
`315f8025 [RUNNING] ||  Wed Aug 12 22:48:22 2020[1]<stderr>:AttributeError: 'PyTorchTrialContext' object has no attribute 'wrap_model'`

I get this error while running the 0.12.13 version of the mnist_gan_pytorch example under examples/official/trial/mnist_gan_pytorch.

Seems to be related to lines `85` and `86` on `model_def.py`:
[code]

[2020-08-13 23:30] neilconway commented on #1074
@luisoutomaior Hi Luis -- I wasn't able to reproduce this: the `mnist_gan_pytorch` example runs for me using the 0.12.13 release. Can you double-check that you are using Determined 0.12.13 on the master and all the agents? The `wrap_model` API was introduced recently (in 0.12.13), so if you're using an old version someone that might be the cause of the problem.

[2020-08-14 19:16] #1074 closed

[2020-08-14 19:20] luisoutomaior commented on #1074
Thanks @neilconway ! Indeed I had the 0.12.12 installed instead of the .13.

[2020-08-24 19:48] vishnu2kmohan commented on #869
@tekumara In [0.13.0](https://docs.determined.ai/latest/release-notes.html#version-0-13-0) we changed the way we manage connections to shells, would you mind upgrading and letting us know if `det shell` works for you?

[2020-10-03 13:02] demongolem opened #1407 "det-deploy is not recognized"
I did the pip install and I get the above when I am looking to deploy.  Can this run on Windows or that something that is not happening?

[2020-10-03 13:37] vishnu2kmohan commented on #1407
@demongolem To clarify, did you run `pip install determined-deploy==0.13.5` and then trying to invoke `det-deploy` on Windows?

[2020-10-03 13:56] rb-determined-ai commented on #1407
@demongolem would you mind sharing more information, like a copy/paste of the command you ran and the exact result that you got, where you are trying to deploy to, etc?

[2020-10-03 14:36] demongolem commented on #1407
Yes.  Initially I did not put the ==0.13.5, but that is the sequence of steps I tried, as specified at https://docs.determined.ai/latest/how-to/installation/deploy.html

[2020-10-03 16:08] vishnu2kmohan commented on #1407
@demongolem Are you attempting to install/deploy Determined on Windows? Or to use the `det-deploy` (and/or `det`) CLI to deploy to AWS/GCP?
Note: We don't support deploying Determined on Windows, and we haven't explicitly tested `det-deploy` on Windows)
(There is a possibility that it _could_ work via Windows Services for Linux 2 (WSL2) but we haven't tested it ourselves.)

[2020-10-03 16:47] demongolem commented on #1407
Ok thanks that answers my query.  Will try for another environment

On Sat, Oct 3, 2020, 12:08 PM Vishnu Mohan <notifications@github.com> wrote:

[2020-10-11 00:29] demongolem opened #1428 "det-deploy local cluster-up fails when trying single node install"
I have moved over to Ubuntu now and am trying to install determined-ai

I get a FileNotFoundError when running the above command.

1.  `pip install determined-cli` - This is successful
2. `det-deploy local cluster-up` - This gives a stack trace with FileNotFoundException.

raceback (most recent call last):
  File "/usr/lib/python3/dist-packages/urllib3/connectionpool.py", line 665, in urlopen

[2020-10-11 00:56] demongolem commented on #1428
Hmmm.  Docker was not there but not correct.  I had to do 2 things to correct my docker which were getting in the way of running that command

1. `sudo apt  install docker.io`
2. `sudo chmod 666 /var/run/docker.sock` to actually give myself permission to use docker

[2020-10-11 14:22] vishnu2kmohan commented on #1428
Are you up and running with Determined via `det deploy local` after you resolved the issues with Docker @demongolem?

We provide guidance on how to install Docker in our [docs](https://docs.determined.ai/latest/how-to/installation/requirements.html#install-docker).

Note: Instead of `sudo chmod 666 /var/run/docker.sock`, which allows anyone to (ab)use Docker Engine, because it has `root` privilege

[2020-10-21 19:49] luisoutomaior opened #1481 "Error in 'tf.config.set_visible_devices' when running a Keras model in eager mode"
Getting the following error:

[2020-10-21T19:34:47Z] 0c41d7e5 [RUNNING] ||    File "/run/determined/pythonuserbase/lib/python3.6/site-packages/determined/experimental/keras/_tf_keras_native.py", line 77, in init
[2020-10-21T19:34:47Z] 0c41d7e5 [RUNNING] ||      master_url=master_url,
[2020-10-21T19:34:47Z] 0c41d7e5 [RUNNING] ||    File "/run/determined/pythonuserbase/lib/python3.6/site-packages/de

[2020-10-21 19:50] #1407 closed

[2020-10-26 03:44] tekumara commented on #869
@vishnu2kmohan can confirm this now works in 0.13.6 - thank you!

[2020-10-26 03:44] #869 closed

[2020-11-12 15:03] bufdev opened #1578 "Update buf.yaml with version and update deprecated commands/flags"
https://docs.buf.build/faq

You want to add a `version` to the top of `buf.yaml`:

[code]

The flag `buf check breaking --against-input` is now `--against`, and `buf image build` is now `buf build as well.

Note that right now, everything continues to work, which is why you haven't had any issues, but we will likely enforce the `version` key for `buf.yaml` at v1.0.

It may be an opportune time to

[2020-11-12 15:55] rb-determined-ai commented on #1578
@hamidzr do you know what this is all about?

[2020-11-12 19:19] zjorgensenbits opened #1583 "specification of default configs for notebooks created through the web UI"
Feature request: it would be really helpful to be able to specify one or more default configs for the notebook instances that are used when launching notebooks with the button in the web UI. In our situation, being able to specify default mounts and agent labels would be helpful, since we typically mount and NFS share for notebook persistence.

It would be really nice if we could have several pres

[2020-11-12 19:22] zjorgensenbits opened #1584 "shells, commands and notebooks don't seem to respect the startup_hook.sh"
It would be nice if shells, commands and notebooks would automatically run the startup_hook.sh if present in the context.

[2020-11-12 19:42] zjorgensenbits opened #1585 "optional timeout for idle notebooks and shells"
It would be very helpful to be able to configure an optional timeout for idle notebooks and shells, similarly to the timeout option available for tensorboards. This would help prevent team members from accidentally leaving shells and notebooks running and taking up GPU resources without using them.

[2020-11-12 20:03] neilconway commented on #1583
@zjorgensenbits Thanks for writing this up! I agree that this would be a useful feature. We've started thinking about the best way to implement it -- will keep you posted if we have any updates on the timeline here.

[2020-11-12 20:11] neilconway commented on #1481
Per discussion on Slack (https://determined-community.slack.com/archives/CV3MTNZ6U/p1603309124129400), I think this issue was resolved. I'll go ahead and close it, but please re-open if the problem is still occurring.

[2020-11-12 20:11] #1481 closed

[2020-11-12 21:17] vishnu2kmohan commented on #1584
@zjorgensenbits Agreed, we'll add support in a future release. I'll update this issue when it's out.

[2020-11-12 21:18] vishnu2kmohan commented on #1585
@zjorgensenbits Agreed on this as well. We'll add support for this and I'll update this issue once it's released.

[2020-11-19 15:13] scotthuang1989 opened #1615 "cuda related error when try to run example"
I try to run this [tutorial](http://192.168.8.101:8080/docs/tutorials/pytorch-mnist-tutorial.html#pytorch-mnist-tutorial). after I start the job with command: `det experiment create const.yaml .`

I see the failed result from WEB UI. the error  log is ( the log repeat 6 times):

[2020-11-19, 14:08:20] 25f5d319 [STARTING] || copying files to container: /
[2020-11-19, 14:08:20] 25f5d319 [STARTING] |

[2020-11-19 20:41] vishnu2kmohan commented on #1615
Hi @scotthuang1989, and welcome!

Which [installation method](https://docs.determined.ai/latest/how-to/install-main.html) did you use to install Determined? For example, did you use `det-deploy local`?

If you plan to use GPU(s), please make sure that the [Docker Engine](https://docs.determined.ai/latest/how-to/installation/docker.html?highlight=nvidia#preliminary-setup) is configured to use the [

[2020-11-21 00:38] scotthuang1989 commented on #1615
@vishnu2kmohan  thanks.  it works ok after I install Nvidia container toolkit.

[2020-11-21 00:38] #1615 closed

[2020-11-30 23:12] zjorgensenbits opened #1652 "archive/delete terminated tasks in dashboard"
it doesn't appear that it's possible to archive or delete terminated tasks so that they no longer show up in the dashboard. This leads to a lot of visual clutter.

[2020-11-30 23:46] hkang1 commented on #1652
Hey @zjorgensenbits,

Thanks for submitting this issue!

The tasks that have terminated will naturally go away (removed from master's memory) after 24 hours (I believe), so we don't explicitly provide the ability to archive or delete. Could you help us understand by describing a little bit of how you are currently using the dashboard page and what your workflow looks like?

[2020-12-01 21:44] zjorgensenbits commented on #1652
ahh, I didn't realized they were cleared out after 24hrs. If that's the case, we're good.

[2020-12-01 21:44] #1652 closed

[2020-12-02 08:22] hkang1 commented on #1652
It's understandable since there's no indications of if and when the clearing of stale tasks occurs.

[2020-12-02 22:06] zjorgensenbits opened #1660 "incorrect merging behavior for bind_mounts when specified in template and config file"
According to the docs "If the field specifies a list value, the merged value will be the concatenation of the list specified in the template and that specified in the configuration."

However, I've noticed that in the case of bind mounts, the bind_mounts section in the config file completely overwrites the one from the template, rather than concatenating the two lists.

On the other hand, I tested

[2020-12-02 22:10] rb-determined-ai commented on #1660
Sounds like a bug.  I'll file a ticket internally.  Thank you for filing it!

You know, just in the last week or two we were were actually talking internally about the templates feature.  How would you rate the templates feature on a scale of 1-10 for both usability and usefulness?  (assuming this bug you are reporting did not exist)

[2020-12-02 22:43] zjorgensenbits commented on #1660
Thanks! Assuming this bug was fixed, I'd probably give it a 9. I think it's intuitive and works like I'd expect it to work. My team is using the templates feature for several different things: (1) to ease mounting all of our various nfs data stores, which are already mounted in the same place on each of our nodes (2) we have a template for notebooks that mounts one of our nfs shares into the noteb

[2020-12-03 19:36] hamidzr commented on #1578
Created DET-4627

[2020-12-08 22:52] #1660 closed

[2020-12-16 07:32] uniwuppes opened #1721 "resource constrained notebooks"
Hi, greetings from Germany!

I just discovered this project and have been trying out some of its features. I have to say that I really like it so far.

I would love to see the feature of resource constrained jupyter notebooks:
At the moment I can request a GPU accelerated notebook which blocks an entire GPU.
I would like to host multiple notebooks on a single GPU however.
Maybe with a VRAM or proc

[2020-12-16 08:52] uniwuppes opened #1723 "remote debugging with VS Code"
Hi again,

would it be possible to support development and debugging inside a remote docker container via SSH forwarding?
Let's say I have a docker image which runs an SSH server and I deploy it to a machine via your interface.
A feature which automatically redirects the container SSH port to a port on the dev machine would be very helpful.
I could then use the VS Code remote SSH-extension to conn

[2020-12-16 19:41] vishnu2kmohan commented on #1721
Hi @uniwuppes, greetings from a snowy New York!

Sadly, this is not easy to support. That said, within the same notebook server, you can launch multiple kernels, but the GPUs themselves don't allow for strong isolation (absent advanced GPU virtualization techniques like Bitfusion, that carefully manage limits on RAM on a pre-process basis) so we don't recommend more than one active kernel at a tim

[2020-12-16 19:43] vishnu2kmohan commented on #1723
Hi (again) @uniwuppes,

This is something we've looked into supporting. Thank you for your request, and we'll keep you posted.

[2020-12-28 12:02] D1abloRUS opened #1742 "Master crash - error converting YAML to JSON"
Hi, if you use dot and slash in labels:
[code]

master crash:
[code]

[2020-12-28 12:26] D1abloRUS commented on #1742
In my opinion, you need to throw out this legacy - "github.com/ghodss/yaml" and take https://gopkg.in/yaml.v3

[2020-12-28 16:18] aaron276h commented on #1742
Hey @D1abloRUS what version of Determined are deploying (listed as `appVersion` in `Chart.yaml`)? Can you try using version `0.13.10` as it should have a fix for this issue.

[2020-12-31 13:49] D1abloRUS commented on #1742
Everything works, thank you!

[2020-12-31 13:49] #1742 closed

[2021-01-02 10:59] scotthuang1989 opened #1743 "tensorboard can't open"
After run the example [pytorch minist tutorial](http://192.168.8.200:8080/docs/tutorials/pytorch-mnist-tutorial.html#pytorch-mnist-tutorial). I try to open tensorbaord but failed.

I try 2 methods.

1. web GUI:

2. det command:  det tensorboard start 14

the output is:

[2021-01-06 11:15] MatthieuTPHR opened #1754 "Integration with other experiments tracker (Comet ML, Weights and Biases)"
Is it possible to use determined ai with other experiment tracker such as Comet ML, or Weights and Biases ?

The feature that I am interested the most in determined ai is the distributed training mechanism. However it seems that it is not yet possible to couple this feature with existing experiments trackers as mentioned above.

[2021-01-08 15:35] vishnu2kmohan commented on #1743
@scotthuang1989 Which version of Determined are you running?

[2021-01-17 02:00] wbwatkinson opened #1802 "Terminate failed EC2 launch"
How does one terminate a failed EC2 launch?

In my particular case, EC2 did not launch because of some severely limited vCPU quotas (32). I'm working to resolve that with AWS; however, in the meantime, every 5 seconds there is a new attempt to launch an instance.

Here was the command I executed (following the MNIST Quick Start tutorial):
[code]

Because of insufficient vCPU resources, I get this

[2021-01-18 12:46] mullerrwd opened #1804 "Typo in release date"
A minor heads-up, the below release dates reflects the previous year instead of 2021.
![image](https://user-images.githubusercontent.com/44808485/104917183-5c632c80-5993-11eb-953c-9318045ccdfb.png)

[2021-01-18 16:45] wbwatkinson opened #1805 "Errors in log during agent shutdown on AWS"
The following is a snippet from the AWS logs... essentially, the master node is shutting down the 8x GPU agent due to inactivity. It appears that everything shutdown correctly, but the logs reported websocket and http errors.

As far as I can tell, everything worked correctly, but the logged information indicates that something was wrong, when there probably wasn't anything wrong.

[code]

[2021-01-18 16:54] wbwatkinson opened #1806 "Training and Validation times in Summary are inaccurate--continue to accumulate after experiment is over"
Something is not right with the training time as depicted in this image. Note that the actual difference between the start and end time in this image is a little less than 5 minutes. Most of this time was the spin up of an agent to support the experiment. Although the experiment is over, every time I return to this page, the experiment time is increased. The same is true of the validating time, th

[2021-01-19 20:26] neilconway commented on #1804
@mullerrwd Thank you for noticing this! I opened #1812 with the fix for this.

[2021-01-19 20:33] neilconway commented on #1806
Can you clarify which times continue to increase? e.g., is it specifically the validation duration or other values as well?

[2021-01-19 20:35] wbwatkinson commented on #1806
Specifically, the "Training" and "Validating" durations continue to increase after the job is complete.

[2021-01-19 20:48] neilconway commented on #1754
@MatthieuTPHR Thanks for the question! It should be possible to use other experiment trackers with Determined. You can't currently disable Determined's built-in experiment tracking, but you should be able to also use other experiment tracking tools just as you would outside of Determined. We don't have any experience doing this, however -- if you try it, please let us know how it goes!

BTW if the

[2021-01-19 20:53] neilconway commented on #1802
Interesting! Thanks for reporting this. We're looking into it -- will keep you posted if we have any updates.

[2021-01-19 20:55] wbwatkinson commented on #1802
Incidentally, I let the system run for about 36 hours. When I tried to access the web interface, I couldn't get the page to load. I assume the two are related. I was using the default configuration on AWS (m5.large for the master node and p2.8xlarge for the agents, though I obviously had no agents running at the time).

[2021-01-19 20:56] neilconway commented on #1805
@wbwatkinson Those error messages should be innocuous, but I agree that they uglier than necessary. i.e., the current behavior should be fine, but we should find a way to make the logs less noisy/alarmist.

[2021-01-19 20:58] vishnu2kmohan commented on #1802
That's... troubling @wbwatkinson

Are you able to retrieve master logs from via the CLI: `det master logs` ?

If that doesn't work, can you still SSH into the master `m5.large` instance and see if the master service is still running?

[2021-01-19 20:59] hamidzr commented on #1806
Hi @wbwatkinson could you please share what version are you running?

[2021-01-19 21:00] wbwatkinson commented on #1802
Those are great questions.... I shut the system down and restarted. I'm still learning the interface, so I'm not familiar with all my command line options. Next time I'm into it, I can give it a try with one of the compute node categories that I still have a low limit in.

[2021-01-19 21:01] vishnu2kmohan commented on #1805
@wbwatkinson to confirm, you're worried about these `<error>` log lines, yes?

[code]

Those are actually related to the WebUI connections, and not the agent provisioning flow, and as @neilconway pointed out, are innocuous and can be ignored.

[2021-01-19 21:02] neilconway commented on #1805
@vishnu2kmohan This one is about agent <-> master connectivity and is similarly harmless:

[code]

[2021-01-19 21:05] hkang1 commented on #1806
Hi @wbwatkinson, thanks for reporting this issue. We just recently fixed this issue, and it is part of the [0.13.12 release](https://github.com/determined-ai/determined/releases/tag/0.13.12). If you upgrade to this version the duration should match up. One thing to note is that the total time for each workload (training, validation, checkpoint) can still be greater than `end time` - `start time` w

[2021-01-19 21:06] neilconway commented on #1804
Fixed.

[2021-01-19 21:06] #1804 closed

[2021-01-19 21:08] wbwatkinson commented on #1806
So, the answer to question is interesting point that I planned to bring up as well. The master version is 0.13.11. Many command line commands present the following notice:

I attempted to upgrade with the following command line sequence:
[code]

The determined-deploy notes reference 0.13.12, but the master remained at 0.13.11 and I continue getting the upgrade notifications.

[2021-01-19 21:10] wbwatkinson commented on #1805
I'd say, "worried" is a bit strong. I understood what was going on.... just didn't seem like expected behavior should result in error notifications in a log file.

[2021-01-19 21:13] vishnu2kmohan commented on #1805
Understood, and thanks for the feedback.

We'll look into this and keep you posted.

[2021-01-19 23:52] hamidzr commented on #1806
currently, the WebUI is directly served by the master  and would have the same version as the master (https://docs.determined.ai/latest/rest-api/#/Cluster/Determined_GetMaster)

those two commands would only upgrade the CLI packages which are separate from the cluster. and it looks like you've successfully upgraded them.  I think we have documentation on how to upgrade the cluster. let me find tho

[2021-01-20 02:52] eecsliu commented on #1806
Hi @wbwatkinson! You should be able to upgrade the cluster using determined-deploy. There isn't an explicit upgrade command, but you can accomplish an upgrade by using determined-deploy by specifying the same cluster name and settings, as well as using the flag `--det-version 0.13.12`. It should detect that you have an existing cluster and will upgrade to 0.13.12 for you.

[2021-01-20 02:52] wbwatkinson commented on #1806
Thank you for this reference... I did use that, which inspired the above command line sequence based on this note in the referenced doc:

I didn't see anything in the referenced doc that stated how to upgrade cluster apart from repeating the steps to install Determined for the first time.

[2021-01-20 02:53] wbwatkinson commented on #1806
Thank you! I'll give this a try.

[2021-01-20 15:37] vishnu2kmohan commented on #1743
@scotthuang1989 Following up here, did you manage to get TensorBoards to load?

[2021-01-20 15:41] vishnu2kmohan commented on #1721
@uniwuppes Let us know if you need any further information, or if we can close this issue. Thanks!

[2021-01-21 04:49] wbwatkinson commented on #1806
I was able to update the cluster using the provided command line flag.

[2021-01-21 04:49] #1806 closed

[2021-01-21 05:40] wbwatkinson opened #1830 "AuthFailure.ServiceLinkedRoleCreationNotPermitted when attempting to launch EC2 Spot Instances"
When the cluster attempts to launch EC2 spot instances, I receive the following notice and error:

[code]

AWS [documentation](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/spot-requests.html#service-linked-roles-spot-instance-requests) states that in most cases, the AWSServiceRoleForEC2Spot service-linked role is automatically added on the first attempt at creating an EC2 Spot instance from

[2021-01-21 07:03] uniwuppes commented on #1721
Thanks for the explanation.

[2021-01-21 07:03] #1721 closed

[2021-01-21 13:48] wbwatkinson commented on #1802
I think the cause is right, but neither killing the experiment nor canceling the experiment on my end resulted in anything like the sequence you noted in your logs (quoted below). Instead, the cluster continued to try to request an EC2 every 5 seconds for hours. It didn't stop until I shut down the cluster.

<info> [2021-01-21, 13:15:52] aborting trial before resources are allocated  experiment-id

[2021-01-21 13:51] vishnu2kmohan commented on #1830
Thank you so much @wbwatkinson, we'll make sure to add these instructions to the [AWS Spot documentation page](https://docs.determined.ai/latest/topic-guides/deployment/aws-spot.html)!

[2021-01-21 14:33] armandmcqueen commented on #1802
Very interesting. Which version of Determined are you using? If you encounter this again, it would be great if you could share the master logs in this thread.

[2021-01-25 05:24] scotthuang1989 commented on #1743
@vishnu2kmohan  I resintall whole thing on another machine. tensorboard can open it. I am comparing the version, configuration between them. not sure what's going wrong.

[2021-01-25 13:17] vishnu2kmohan commented on #1743
@scotthuang1989 You may have a firewall rule that blocks the required connectivity, as part of your Docker Engine configuration - see https://github.com/determined-ai/determined/issues/906#issuecomment-664958000 for details, and a possible solution.

[2021-01-26 05:11] wbwatkinson opened #1860 "Support for region us-gov-west-1"
Attempting to run det-deploy in region `us-gov-west-1` yields the following error:
[code]

Recommended fix: allow us-gov-west-1 as a region for det-deploy

[2021-01-26 05:21] wbwatkinson opened #1861 "det-deploy does not operate within a multi-profile aws cli environment"
`aws cli` allows the use of multiple profiles by adding [named profiles](https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-profiles.html) in the `~/.aws/config` and `~/.aws/credentials` files. It appears det-deploy simply exclusively uses the `default` profile.

Recommendation: create a `--profile` argument for the `det-deploy aws up` and `det-deploy aws down` so that det-deploy can o

[2021-01-26 16:09] vishnu2kmohan commented on #1861
Thanks for the suggestion @wbwatkinson, we'll keep you posted.

[2021-01-26 16:10] vishnu2kmohan commented on #1860
Thanks for the suggestion @wbwatkinson, we'll keep you posted.

[2021-01-26 21:09] davetroiano commented on #1861
@wbwatkinson thanks for reaching out. We do support profiles in `det-deploy` today though the argument is suppressed from docs and `det-deploy` help strings.  You can pass `--aws-profile PROFILE` to get the desired behavior. Please give that a shot and let us know how it goes. I'll close this out but please reopen if you run into any issues with this.

In the next release (~2 weeks from now), head

[2021-01-26 21:09] #1861 closed

[2021-01-27 15:26] wbwatkinson commented on #1860
Perfect! Thank you. Just so you are aware, I'll be dead in the water for using the software until I can deploy to us-gov-west-1, because we can put cloud services anywhere other than in the gov regions. I suspect many DoD and government agencies will have a similar restriction.

[2021-01-27 15:29] wbwatkinson commented on #1861
Yes, that worked! Or at least it found the right profile. Until I can deploy to us-gov-west-1, I won't actually be able to get determined up and running.

[2021-01-27 18:31] vishnu2kmohan commented on #1860
Got it! We're actively working to get on-boarded onto GovCloud and hope to have some updates soon.

[2021-02-01 07:32] scotthuang1989 commented on #1743
@vishnu2kmohan It's a network issue, turning off firewall works.

[2021-02-01 07:32] #1743 closed

[2021-02-04 16:10] D1abloRUS opened #1931 "Launch Notebook - crash determined-init-container"
Hey!

I ran determined-ai in kubernetes. I try to start Notebook, but I get an error:
[code]

full log:
[code]

my master.yaml:
[code]

[2021-02-05 16:15] vishnu2kmohan commented on #1931
Thanks for the report @D1abloRUS, we'll take a look and let you know.

[2021-02-05 16:24] rb-determined-ai commented on #1931
@D1abloRUS Does it work if you omit the `image.cpu` and `image.gpu` settings?  I think all that's happening is that we are expecting to be able to call certain binaries present in the default Determined container but not those base containers.

Docker can have some very cryptic errors in these cases.

[2021-02-08 15:02] D1abloRUS commented on #1931
if omit the image.cpu and image.gpu works fine. thanks!

[2021-02-08 15:03] #1931 closed

[2021-02-24 00:02] zjorgensenbits commented on #1583
Any thoughts/progress on this?

[2021-03-06 12:21] vishnu2kmohan commented on #1860
@wbwatkinson FYI - We _just_ [added support](https://github.com/determined-ai/determined/commit/fc7fee623519770901a21f14d101b29eefcd2f35) for GovCloud to `det-deploy`, so it should be available in the next release: 0.14.4 (in about a couple of weeks, and not in the one that will be going out soon - i.e., 0.14.3).

[2021-03-06 12:23] vishnu2kmohan commented on #1754
@MatthieuTPHR FWIW we have other users who have successfully integrated W&B into their Trials. Have you been able to integrate? If so, may we please close out this issue?

[2021-03-06 12:24] vishnu2kmohan commented on #1578
@hamidzr Is this issue resolved, and if so, might we please close it out?

[2021-03-06 12:25] vishnu2kmohan commented on #982
@Dri4n Following up here to see if you're unblocked and if we may close out this issue.

[2021-03-06 12:26] vishnu2kmohan commented on #1428
@demongolem Following up to see if you're unblocked and if we may close out this issue.

[2021-03-06 12:28] vishnu2kmohan commented on #1583
Update: We'll add the ability to pick a configuration template to the notebook launch dialog and post an update once this feature ships.

[2021-03-06 12:32] vishnu2kmohan commented on #1584
We added support for `startup-hook.sh` for notebooks and shells in [0.14.2](https://docs.determined.ai/latest/release-notes.html#version-0-14-2)

Note: We deliberately decided not to add it to commands because they are the foundation for some advanced features (e.g., Distributed Batch Inference) that will have equivalents and guidance to achieve the `startup-hook.sh` behavior, soon.

@zjorgensenbi

[2021-03-06 12:34] vishnu2kmohan commented on #1802
@wbwatkinson Following up: are you still seeing these issues on newer releases of Determined (0.14.x)?

[2021-03-08 15:58] #1584 closed

[2021-03-08 16:41] zjorgensenbits commented on #1583
That would be super helpful, thanks!

[2021-03-09 03:24] hamidzr commented on #1578
no, I don't think so the ticket is still open. let's reopen we pick that up.

[2021-03-09 03:24] #1578 closed

[2021-03-10 15:07] mitsch opened #2067 "ERROR 503: Service Unavailable on WebUI Login/Dashboard"
Hi,

I wanted to set up a small cluster with `det-deploy local cluster-up --master-port 8080 --no-gpu` on my laptop. All seems fine; I open via my browser the web-ui at `http://localhost:8080` and the login page appears. After entering my credentials, nothing happens apparently.

I refresh on which I'm redirected to `http://localhost/det/dashboard` where the web page keeps endlessly loading.

The

[2021-03-10 16:05] vishnu2kmohan commented on #2067
Hi @mitsch, I just tried the same exact command but I was unable to reproduce the issue.

Would you please share the output of:

* `docker info`
* `docker network ls`
* `docker ps -a`
* `docker images`
* `sudo iptables -nvL`

Out of curiosity, is there a reason you're explicitly passing `--master-port 8080` to `det-deploy`? It defaults to port 8080 and shouldn't be necessary.

[2021-03-12 11:15] mitsch commented on #2067
Hi @vishnu2kmohan ,

when going through the outputs to copy-paste it here, I double-checked; and found the solution: proxy configuration interfered with the network setup. I suppose that only the agent-to-master connection has to be safeguarded from proxy since master and db are in their own subnetwork and traffic there is only inbound?

Nevertheless, thank you for nudging me in the right directio

[2021-03-12 11:15] #2067 closed

[2021-03-26 07:56] scotthuang1989 opened #2128 "Does determined AI evaluate a batch or the whole validation dataset?"
when determiend  run evaluation, does it run it on whole validation dataset or just a batch?

[2021-03-26 17:04] neilconway commented on #2128
@scotthuang1989 Validation is performed on the entire validation data set. Validation is typically computed on a per-batch basis (and then reduced to produce a single metric for the entire validation set). With PyTorch, it's also possible to compute a single metric over the entire validation set directly. Did that answer your question?

[2021-03-27 01:49] scotthuang1989 commented on #2128
@neilconway  yes.  thanks.

[2021-03-27 01:49] #2128 closed

[2021-03-27 01:53] scotthuang1989 commented on #2128
@neilconway  how about train metrics?

[2021-03-27 02:34] neilconway commented on #2128
@scotthuang1989 Training is performed on one batch of training data at a time; your training metrics are computed for each batch (e.g., in PyTorch, you can return a dict of training metrics as part of each call to `train_batch`).

[2021-03-27 07:56] scotthuang1989 commented on #2128
got it. It make sense as parameter is changing.

[2021-04-05 22:53] PeterSulcs opened #2175 "Not possible to turn off telemetry via values.yaml"
In the latest helm chart (0.5.0) it is not possible to disable telemetry via a `values.yaml` file:

https://github.com/determined-ai/determined/blob/master/helm/charts/determined/templates/master-config.yaml#L93

[code]

if `.Values.telemetry.enabled` is `false` this section is not added to the config yaml at all. Removing the inner-if statement results in the desired behavior.

[2021-04-05 23:04] vishnu2kmohan commented on #2175
Thanks for the report @PeterSulcs, we'll look into this...

[2021-04-05 23:47] vishnu2kmohan commented on #2175
Thanks to @dzhu for the [quick turnaround](https://github.com/determined-ai/determined/pull/2178), the fix should make our next official release.

[2021-04-05 23:50] #2175 closed

[2021-04-13 04:55] liaopeiyuan opened #2215 "Is model parallelism supported on PyTorch?"
e.g. may I use multiple gpus for a single worker and split the model between them? Thanks!

[2021-04-13 12:47] vishnu2kmohan commented on #2215
Hi @liaopeiyuan we don't support model parallelism yet, but we are [actively](https://github.com/rb-determined-ai/determined/blob/sprinkle-spec/sprinkle/user-facing/low-level.md#distributed-training) taking steps towards supporting distributed training engines beyond Horovod, which will help us get there.

[2021-04-13 12:53] vishnu2kmohan commented on #1860
Closing out, given we landed official support for GovCloud in 0.14.5 and a related [fix](https://github.com/determined-ai/determined/commit/92056b569e19e5ed0d865dfd94b3cc5e7136bf12) will land in the upcoming release (0.15.0).

[2021-04-13 12:53] #1860 closed

[2021-04-13 12:55] vishnu2kmohan commented on #1802
Ping @wbwatkinson, please let us know if you're still seeing issues in newer versions, or if it's safe to close?

[2021-04-13 12:56] vishnu2kmohan commented on #982
Closing this issue out @Dri4n, please reopen, if needed.

[2021-04-13 12:56] #982 closed

[2021-04-13 12:56] vishnu2kmohan commented on #1428
Closing this issue out @demongolem, please re-open, if needed.

[2021-04-13 12:56] #1428 closed

[2021-04-13 12:58] vishnu2kmohan commented on #1583
Just a note that we're going to start working on this effort soon @zjorgensenbits, and will update this issue when it's ready.

[2021-04-13 12:59] vishnu2kmohan commented on #1585
Just a note that we're going to start working on this effort soon @zjorgensenbits, and will update this issue when it's ready.

[2021-04-13 12:59] vishnu2kmohan commented on #1754
Closing out this issue @MatthieuTPHR, please re-open, if needed.

[2021-04-13 12:59] #1754 closed

[2021-04-13 16:26] liaopeiyuan commented on #2215
Are the features mentioned in the document already implemented in the main branch or are they in progress?

[2021-04-13 16:33] vishnu2kmohan commented on #2215
There's a fair bit of dependent work that needs to happen before we work on the feature outlined in the link I shared earlier.

I'll post an update once we commence.

@liaopeiyuan Would you please help us understand the kinds of models you're attempting to train via model parallelism, so we can test with them, as we develop the feature? Also, how do you do model-parallel training today?

[2021-04-14 13:59] liaopeiyuan commented on #2215
We are training a model that requires splitting a multi-tasked model (multi-input, multi-output) inside a single node w. multiple GPUs, and have data-parallel between nodes.

Today we are using DeepSpeed or a combination of GPipe + Horovord depends on the situation. The problem for us right now is that neither is elastic.

[2021-04-14 15:25] vishnu2kmohan commented on #2215
Thanks for the context @liaopeiyuan, that helps.

We've been discussion how to integrate DeepSpeed, FairScale and Pipedream into Determined recently, so knowing there is active interest and usage helps us plan and prioritize.

[2021-04-19 19:32] #1830 closed

[2021-04-22 01:25] liuyahui32 opened #2262 "在window环境怎么运行起来呢"

[2021-04-22 13:18] aiaiai-czh opened #2263 "failed to start Fluent daemon: failed to kill old logging container: failed to list containers by name: Cannot connect to the Docker daemon at unix:///var/run/docker.sock. Is the docker daemon running?""
Hi, when i run the command
[code]
a error has occured, the agent report:
[code]
the master report:
[code]
i don't know how to slove it, can you help me?

[2021-04-22 13:27] rb-determined-ai commented on #2263
it looks like you are not bind-mounting the docker socket into the container, so the container is unable to talk to docker.

Looks like the part of the docs you copied are missing this line, but the other two examples have it.  You just need to add a `-v /var/run/docker.sock:/var/run/docker.sock` option to the command line I think.

[2021-04-22 13:34] aiaiai-czh commented on #2263
@rb-determined-ai it works!!! thank you very much!!!

[2021-04-22 14:20] rb-determined-ai commented on #2263
great!  I'll close this out then.

[2021-04-22 14:20] #2263 closed

[2021-04-26 09:55] caoyu1664 opened #2275 "Container be killed after 'found not all containers are connected' create experiment failed"
Hi,
Experiments couldn't run with **unexpected failure of trial after restart**
### 1. Envs
- GPU: Titan x (only one)
- Nvidia driver: 440.31
- OS: Ubuntu 16.04
- Docker: 19.03.6
- Python: 3.7
- Virtualenv
### 2. How to install
[According to install doc official](https://docs.determined.ai/latest/how-to/install-main.html)
`pip install determined`
`export DET_MASTER=127.0.0.1`
### 3. How to used
1.

[2021-04-26 11:58] vishnu2kmohan commented on #2275
@caoyu1664 Would you please share the trial logs - `det -m http://localhost:8080 trial logs 1 > experiment_1_trial_1_logs.txt`?

Would you also check to see if the Postgres Docker container is up and running, and that you have enough free disk space?

[2021-04-27 01:45] caoyu1664 commented on #2275
The Postgres Docker container is up and running well, the _failed to save trial logs_ error is gone after restart cluster server, and disk has enough free space.
`experiment_1_trial_1_logs.txt`
[code]

[2021-04-27 11:39] vishnu2kmohan commented on #2275
Hi @caoyu1664, you _may_ be affected by an issue where we don't properly handle dual-stack ipv4 and ipv6 Docker networking, a [fix](https://github.com/determined-ai/determined/pull/2259) for which will land in the next release (0.15.2), which should be out later this week or early next week.

That said there is a [workaround](https://determined-community.slack.com/archives/CV3MTNZ6U/p1619013816221

[2021-04-27 12:03] vishnu2kmohan commented on #2262
Hi @liuyahui32 did you mean to report an issue? If not, I'll close this out soon.

[2021-04-27 12:05] vishnu2kmohan commented on #2215
I'll close out this issue.

Please feel free to open another if you have additional questions, and/or we'd prefer if you'd [join](https://join.slack.com/t/determined-community/shared_invite/zt-cnj7802v-KcVbaUrIzQOwmkmY7gP0Ew) our Slack channel.

[2021-04-27 12:05] #2215 closed

[2021-04-28 02:20] caoyu1664 commented on #2275
Hi @vishnu2kmohan , After trying as you said, I got a _error_ when the container docker exec `python3 -m pip install -q --user /opt/determined/wheels/determined-0.15.1-py3-none-any.whl`. master log and trial log can be see as follow:
**Master log**
[code]
**Trial log**
[code]

[2021-04-28 03:23] caoyu1664 commented on #2275
Hi @vishnu2kmohan  The trial is running, thanks!

[2021-04-28 09:37] caoyu1664 opened #2290 "Trial container raise error when use --no-gpu"
Hi,
 The container raise a TypeError: `NoneType` object does not support item assignment. in _socket_manager.py when trial is running.

### 1. Envs
- Cpu only
- OS: Ubuntu 16.04
- Determined: 0.15.1
- Python: 3.7

### 2. Install and start
`pip install dertermined`
`det deploy local cluster-up --no-gpu`
`det experiment create const.yaml .` (mnist_pytorch official)

### 2. Master logs
[code]
### 3.

[2021-04-28 11:05] vishnu2kmohan commented on #2262
Apologies @liuyahui32, one of my colleagues (thanks @dzhu) pointed out that you were asking after Windows support, which is not something we support today.

Users have tried deploying Determined on Windows via WSL2 but I don't think they've been successful.

@shiyuann Would you please help translate :point_up: : for me?

[2021-04-28 11:08] vishnu2kmohan commented on #2290
@caoyu1664 It's the same [issue](https://github.com/determined-ai/determined/issues/2275#issuecomment-827539819) that you reported earlier, which applies even to `det deploy cluster-up --no-gpu`.

[2021-04-28 11:09] #2275 closed

[2021-04-29 01:08] caoyu1664 commented on #2290
@vishnu2kmohan Thanks, Close this issues please :)

[2021-04-29 02:27] #2290 closed

[2021-04-30 04:10] shiyuann commented on #2262
@liuyahui32 你好，我们暂时不支持Windows，但是有人成功在windows的linux子系统安装成功过。

[2021-04-30 04:10] #2262 closed

[2021-05-06 13:18] riokaa opened #2343 "RuntimeError: CUDA error: no kernel image is available for execution on the device"
# 🐛 Bug
Hi,
I received ERRORED after created an experiment by cli, and trial logs show the RuntimeError mentioned in title.
It seems my CUDA version is too high. Should I downgrade it?

# 1. Envs
- OS: Ubuntu 20.04
- Docker: 20.10.6/20.10.2/19.3.0
- GPU: 3090 & 2080
- **CUDA: 11.2**
- Kubernetes 1.18.8
- Determined: 1.15.1~1.15.3 all tried

# 2. How to install
Use helm to deploy on k8s, according

[2021-05-06 13:21] riokaa commented on #2343
It's because my ignoring the environment requirement in [ENVIRONMENT CONFIGURATION](https://docs.determined.ai/latest/how-to/custom-env.html). I'll downgrade my CUDA version.😅

[2021-05-06 13:21] #2343 closed

[2021-05-07 23:30] mackrorysd commented on #1805
Thanks again for the report, @wbwatkinson. This should be fixed in our next release.

[2021-05-07 23:31] #1805 closed

[2021-05-10 10:51] riokaa opened #2354 "WorkerError in distributed training with cuda11.1"
I use RTX 3090 to do training, but it only support CUDA version ≥ 11.1. So I've used "determinedai/environments:cuda-11.1-pytorch-1.8-lightning-1.2-tf-2.4-gpu-0.9.0" to be the environment image, which caused error in distributed training.

The code is mnist_pytorch in "Docs > Tutorials > Quick Start Guide".

The trial logs:
[code]

[2021-05-10 14:50] vishnu2kmohan commented on #2354
Ah, I should have been a bit more explicit, my question was more around how/why you picked the `<>-0.9.0` tag/version vs. the newer `<>-0.13.0` (or `<>-0.12.0`) Docker Image(s).

[2021-05-10 16:06] vishnu2kmohan commented on #2354
Ah, thanks - that makes sense; I was expecting that you would have searched for [cuda-11](https://hub.docker.com/r/determinedai/environments/tags?page=1&ordering=last_updated&name=cuda-11) (instead of `cuda-11.1`, specifically).

Note: We normally don't bump to the latest minor CUDA version (currently [11.3.x](https://docs.nvidia.com/cuda/cuda-toolkit-release-notes/index.html)) until they're adopt

[2021-05-11 03:48] riokaa commented on #2354
Thanks!🥳 I tried `determinedai/environments:cuda-11.0-pytorch-1.7-lightning-1.2-tf-2.4-gpu-0.13.0` and it succeeded in const, distributed, and adaptive training, even though my cuda version is 11.1.

I had mistakenly assumed that the cuda versions had to match exactly, which is why I encountered the error.

[2021-05-11 10:58] vishnu2kmohan commented on #2354
Awesome, glad to hear it!

Note: For Determined, the NVIDIA _driver version_ on the machine/VM needs to support the version of CUDA we have installed in the Docker Images for our task environments, and we do not rely on the version of CUDA installed on the system.

[2021-05-11 10:58] #2354 closed

[2021-05-13 03:26] anderson-kl-1 opened #2371 "Albert Squad example doesn't work"
behind a corp. firewall/proxy, the Albert Squad example gets stuck at:
_Running command git clone -q git://github.com/LiyuanLucasLiu/RAdam.git /run/determined/workdir/src/radam_
... I believe this is due to network policies, and request that git:// be replaced by https:// in the requirements file.

or in the dockerfile, perhaps this setting can be applied:
`git config --global url."https://github.

[2021-05-13 03:35] anderson-kl-1 commented on #2371
as usual, I find the solution after posting.   through startup-hooks.sh I was able to do this myself.

[2021-05-13 03:35] #2371 closed

[2021-06-09 06:56] vishnu2kmohan commented on #1723
@uniwuppes We recently added support for integrating an [IDE](https://docs.determined.ai/latest/topic-guides/commands-and-shells.html?highlight=pycharm#ide-integration) with a container over SSH running on Determined via Shells.

Please let us know if this works for you, and thanks for your patience!

[2021-06-09 07:57] uniwuppes commented on #1723
@vishnu2kmohan Thanks, I will test this out as soon as possible.

[2021-06-17 23:56] ahj-determined opened #2584 "Add "Active Filters" count and "Clear Filters" button to tables with filtering"
We recently switched to in-column filtering for tables. Users sometimes do not know what is being filtered, because it's shown by a small arrow or sometimes off the screen. Let's make it obvious that the tables are getting filtered by adding two components to tables with filtering:

- Active Filters count
- Clear Filters button

[2021-06-19 20:55] off99555 opened #2587 "Header fonts are hard to distinguish"
![image](https://user-images.githubusercontent.com/15215732/122655241-29f47000-d17b-11eb-83e2-384b11a99c69.png)
I think the header font should look different from header level 2 and header level 3 or something like that.
Because it can be confusing whether `Manual Deployment` is a section that follows the previous one or it's the new section.
I was thinking that I need to follow everything when in

[2021-06-20 17:31] vishnu2kmohan commented on #2587
Thanks for the feedback @off99555, we'll look into this and keep you posted.

[2021-06-21 12:16] off99555 opened #2588 "Stack Deployment Failed. Check the AWS CloudFormation Console for details"
I have this error when trying to deploy aws. I think it is caused somehow by me manually stopping the master instance to save money.
[code]

I already terminated master instance, deleted S3 bucket and CloudFormulation though to try to start from scratch. How do I fix this?
This is the screenshot of the CloudFormation:
![image](https://user-images.githubusercontent.com/15215732/122760337-3389ef00-d

[2021-06-21 13:56] vishnu2kmohan commented on #2588
Just so we better understand how we arrived at this issue, before running `det deploy aws up` did you `det deploy aws down` the previous cluster, assuming it's a cluster with the same name: `moonsniper`? We don't recommend manual deletion of resources unless absolutely necessary - it's best to let `det deploy` coordinate the cleanup (via CloudFormation) on your behalf.

`det deploy` is intended to

[2021-06-21 14:37] off99555 commented on #2588
I haven't called the down command yet.

[2021-06-21 15:36] vishnu2kmohan commented on #2588
So what should I do now?

If you want to start from scratch, then yes, please `det deploy aws down` your existing cluster - it'll try and delete all the associated resources.

Note: Calling `det deploy down` will delete your database (Aurora Serverless PostgreSQL), and you'll lose all your experiments and metadata.

The CloudFormation Service UI on the AWS Console (under `CloudFormation` -> `Stack

[2021-06-21 15:45] off99555 commented on #2588
The command `det deploy aws down` failed because the CF is already deleted manually.
[code]

If I create it again and try to run `det deploy aws down` command it will also have weird error saying `Outputs`
[code]

So I think I need to delete everything manually. What are the things I need to delete?
First, here I'm attempting to delete the RDS parameter groups which I suspected was created from de

[2021-06-21 15:58] vishnu2kmohan commented on #2588
You'd now need to manually delete all the resources that were created for the cluster. It appears that all that is left now is the resources relating to the Aurora DB. You may need to ensure that it's in a valid state that allows for it to be deleted, first.

Do you login as a different user with the `aws` CLI which was used by `det deploy aws` vs. the user that you use to login via web browser? P

[2021-06-21 16:44] off99555 commented on #2588
About user, that's a good point, I have now logged in with the IAM user that is used in AWS CLI instead of Root user I used earlier. I will try to restart the master instance with this IAM user next time. Though it's weird that the Root user couldn't restart the instance but could stop it.

Anyway, this IAM user with admin permission also cannot not delete the DBParameterGroup.
![image](https://us

[2021-06-21 17:25] off99555 commented on #2588
Ah, it seems to be problem related to authority.
I should have checked this Events section first. Sorry. I will look into this and see what's the cause. I think it's related to me requesting CPU limits to 160 and then Amazon didn't fulfill that. They gave me 16 so I asked 160 again, they gave me 32 I asked
 160 again and they haven't given me. Maybe they think this is the suspicious activity.

![i

[2021-06-21 17:33] vishnu2kmohan commented on #2588
Oh, sorry to hear that.

Hope you resolve the issue with AWS :crossed_fingers:

Let us know if you need help once you're past that :point_up: - either here, or in the community slack.

[2021-06-21 21:02] hamidzr opened #2591 "remove Java dependency from building determined."
as a starting place, we can limit the scope to WebUI. This should allow us to deploy WebUI in environments that do not have Java which is typical for most web hosting solutions

[2021-06-21 22:02] hamidzr commented on #1583
Hi, @zjorgensenbits  and thanks for sharing your feedback. We [recently](https://docs.determined.ai/latest/release-notes.html#version-0-16-0) shipped a new and more configurable way of launching Jupyeter Notebooks that allows you to pick a [template](https://docs.determined.ai/latest/reference/config-template.html?highlight=templates) for the Notebook configuration you're running. Does this addres

[2021-06-21 22:29] vishnu2kmohan commented on #1723
@uniwuppes Following up - does the integration work for you?

[2021-06-21 23:00] zjorgensenbits commented on #1583
I will check it out when we update to this version and let you know.  But, based on the screenshot, this is exactly what I had in mind!

[2021-06-22 00:11] hamidzr commented on #2584
any tables with the inline filtering mechanism eg
- experiments
- tasks

[2021-06-22 15:14] uniwuppes commented on #1723
@vishnu2kmohan I installed determined in a single node configuration on a docker host machine with
```python3 -m pip install determined```
which worked.
When trying to execute a shell as described in the documentation for a VS Code connection, I get the following strange behavior:
[code]

I interrupted the pulling progress as this seemed like a bug to me...

[2021-06-22 15:32] vishnu2kmohan commented on #1723
@uniwuppes How did you install Determined (e.g., via `det deploy local`?)

If the task environment image (`determinedai/environments:cuda-11.0-pytorch-1.7-lightning-1.2-tf-2.4-gpu-3a452bc`, in your case) doesn't already exist on the node where the shell container is being spawned, then that's expected, so please allow for that image download to complete.

[2021-06-22 15:41] uniwuppes commented on #1723
Nevermind, I realized that every single pull update was logged as a new line. This scared me off in the first place :D
The command now worked and gave me the ssh command.

I ran the command locally first, which worked fine.

Then I added a new SSH host as described in the docs.
The connection could not be established.

I have kind of a special setup: I connect my dev machine to the determined host

[2021-06-22 16:26] ioga commented on #1723
hello @uniwuppes , if you check the ssh command we return, it employs a `ProxyCommand` to run a our (python) client code to tunnel the connection through the master. So, the VS Code machine will need to have determined client installed on it, and it'll need to be able to access master one way or another.

If you can access master directly from the vs code machine, then I'd suggest you run `det` cl

[2021-06-22 18:04] rb-determined-ai opened #2599 "Remove `State` from Trial Information / Trial Workloads [DET-5402]"
_Oooh! Github says this is my first issue!_

* Remove the `State` column from the Trial Information table under trial detail page.
* Remove any references of workload state
* Rename `src/utils/steps.ts` to `src/utils/workloads.ts` (just to further move away from steps completely)

blocked by DET-5429, "Trial substate/metadata API" (backend work)

[2021-06-22 18:05] rb-determined-ai opened #2600 "Update trial workloads to use new `totalBatchesProcessed` field instead of calculating it on the fly [DET-5403]"
The current total batches processed is calculated by adding `numBatches` + `priorBatchesProcessed` on a per workload basis (training, validation and checkpoints).

Infra may just do this ticket for us since it's easy to search and replace this portion. If WebUI is doing this work, will need to make sure this work is coordinated with the API work where runId and totalBatchesProcessed fields are int

[2021-06-22 18:06] rb-determined-ai opened #2601 "Add trial substate + metadata to Trial Detail summary box [DET-5404]"
Since workload / step state is being removed, the trial substate will be critical to display to the user so they know what's going on with the trial.

Start with adding the following format to the Summary Info Box:`State: [trial substate badge] <additional metadata for the substate as a text>`

[2021-06-22 19:27] hamidzr opened #2604 "profiler shows an empty dropdown for cpu and system profiling metrics"
![2021-06-22_11-51-38](https://user-images.githubusercontent.com/12127420/122987471-7bf0ed80-d355-11eb-928f-0bfb93c59551.png)

[2021-06-22 19:48] hamidzr opened #2605 ""no data available" while the profiler is loading is confusing"
when looking at the profiler the ui shows a "no data available" message depending on how we're interacting with the backend here we should be able to show a loading ui/message instead of a definite no data available.

[2021-06-23 07:14] uniwuppes commented on #1723
Hi @ioga , thanks a lot for your explanation.
It all worked fine now.

[2021-06-23 17:49] #2604 closed

[2021-06-23 18:31] #2584 closed

[2021-06-23 22:21] hamidzr commented on #2599
once requirements for this tickets lands the pseudo workloads that we'll get are assumed to always be in a completed state? as in we either would have all the artifacts and metrics associated with a training/validation/checkpoint work or it won't be reported or exist at all ?

[2021-06-23 23:21] rb-determined-ai commented on #2599
I believe so.  @stoksc?

[2021-06-24 01:01] hamidzr commented on #2599
would checkpoints still have a deleted state?

[2021-06-24 14:26] stoksc commented on #2599
I believe it would just not be reported. That is an interesting idea, to just gc the checkpoints themselves but leave the metadata in postgres and mark it as DELETED. Not sure if it is useful.

[2021-06-25 18:04] hamidzr opened #2622 "bug: react build preview is not responding"

[2021-06-25 19:03] #2605 closed

[2021-06-25 20:54] hamidzr commented on #2599
I thought that was before sprinkledapi. Not reporting it all would seem simpler 👍🏼

[2021-06-28 13:20] BlueskyFR opened #2626 "Python 3.9 support"
Is Python 3.9 support planned?
I could not install on 3.9 using both a classic and a conda env

[2021-06-28 17:28] #2622 closed

[2021-06-28 17:35] hamidzr opened #2629 "set up netlify"
we have a corresponding jira ticket.

- figure out pricing. (how many builds did we trigger last 3 months in circle ci?)
- add netlify  to determined repo on github
- maybe: set up a det-deploy step to have a cpu-only only cluster seeded with select examples as the backing cluster

depends on #2591

[2021-06-28 19:04] vishnu2kmohan commented on #2626
@BlueskyFR This is planned but there are some known issues with the frameworks (and their deep-dependencies, specifically) that's prevented us from moving up to python 3.9.

Would python 3.8 work for you, in the interim? And would you help us understand which features of python 3.9 are require for your use-case(s)?

[2021-06-28 19:40] BlueskyFR commented on #2626
Yeah I saw h5py not being compatible for instance if I remember correctly when installing determined.
Python 3,9 introduces the dictionnary merge operator for instance but I am personally looking forward to python 3,10 as there are big changes with the typing syntax (function return types); indeed, I think supporting 3,9 is a step towards supporting 3.10 :)

[2021-06-28 19:48] BlueskyFR opened #2630 "Docker determined-agent:latest tag not defined"
First of all I am very sorry for posting this here because I did not know where to put it.

In some doc pages, it is mentionned to pull `determinedai/determined-agent` using these commands:
![image](https://user-images.githubusercontent.com/25421460/123694969-474fcb00-d85a-11eb-9f73-b09d97a9cfd0.png)
![image](https://user-images.githubusercontent.com/25421460/123694990-4f0f6f80-d85a-11eb-8bff-4052

[2021-06-28 19:52] BlueskyFR commented on #2630
Also, please note that the command shown on the first screen:
[code]
Is false for 3 reasons:

1. A backslash is missing at line 3
2. The `--config-file` option is not supported by the determined-agent in the 0.16.0 release
3. The .yaml filename should be `agent.yaml` instead of `agent.yaml`

[2021-06-28 19:56] hamidzr commented on #2629
demonstrated https://github.com/hamidzr/determined/pull/7

[2021-06-28 20:16] vishnu2kmohan commented on #2630
Thanks for the report @BlueskyFR, we'll fix this up.

[2021-06-28 23:20] hamidzr commented on #2600
this seems to be already done

[2021-06-29 00:30] hamidzr commented on #2601
@stoksc regarding trial substates do we know what the possible values are?  if so could we use an enum here

[code]

[2021-06-29 16:54] #2588 closed

[2021-06-29 17:52] justin-determined-ai opened #2635 "bug: Continue trial does not work [DET-5704]"
(reported by @stoksc) seen on 0.16.1

expected:

continues a trial, brings up a model, (makes a network call that 500s)

actual:

crickets, no network, absolutely nothing seems to happen

[2021-06-29 18:38] #2600 closed

[2021-06-29 20:04] hamidzr opened #2637 "feat: log viewer to remember scrolling position"
To lower the scope: remember whether tailing was enabled or not. Maybe globally across all trial logs

[2021-06-29 20:09] stoksc commented on #2601
@hamidzr substates are not known in advance + we are adding an API (it's in a feature branch here https://github.com/determined-ai/determined/commit/d0375988fca42f894d8f32112948b787a5af0069)

[2021-06-29 20:10] stoksc commented on #2601
Oh wait.. i forgot to add the GET. I'll add it now.

[2021-06-29 20:58] hamidzr commented on #2601
we'd need it for this ticket. let me know if/when there is a pr up for this one. Or we need someone to take it

[2021-06-30 14:44] #2635 closed

[2021-06-30 18:20] stoksc commented on #2601
@hamidzr GET is in, I amended the commit that adds the API on upstream/push

[2021-06-30 19:32] hamidzr commented on #2599
landed in `upstream/push`

[2021-06-30 19:32] #2599 closed

[2021-07-01 07:41] off99555 opened #2646 "Cannot create auth.json"
I have error when trying to create a new experiment.
[code]

I think this error happens because I already use another AWS server before, but now I'm changing to use a different server.
I had to delete `auth.json` in order for it to work.

**Update:**
I could reproduce this issue several times. Just do `det deploy aws down` and `det deploy aws up`.

[2021-07-01 08:37] off99555 commented on #2646
![image](https://user-images.githubusercontent.com/15215732/124091288-db4eac00-da7f-11eb-83a0-3b314e7c7ef3.png)
I have another problem this button doesn't do anything in the new version. 0.16.1

[2021-07-01 12:11] vishnu2kmohan commented on #2646
Thanks for the report @off99555, we'll look into these...

[2021-07-01 16:52] hamidzr opened #2648 "bug: checkpoint download ui in 0.16.1"
reported in https://github.com/determined-ai/determined/issues/2646#issuecomment-872046864

[2021-07-01 18:25] #2591 closed

[2021-07-02 01:02] hamidzr commented on #2648
it seems to be a bug in react-router about how we determine whether a route is internal to the app or external

[2021-07-02 08:19] off99555 opened #2654 "What does `OneVarTrial` mean?"
https://docs.determined.ai/latest/reference/api/trial_context.html#determined.TrialContext.from_config
What does `OneVarTrial` mean? Is this supposed to be replaced by `TFKerasTrial(context)`?
[code]

[2021-07-02 08:22] off99555 commented on #2654
OK. I understand now. `tf_keras_one_var_model` is probably some random module and `OneVarTrial` is user-implemented `TFKerasTrial`.

[2021-07-02 08:22] #2654 closed

[2021-07-06 18:20] #2648 closed

[2021-07-06 21:48] off99555 opened #2670 "Table UI doesn't show boolean value"
This is snapshot from Learning Curve visualization of an experiment.
![image](https://user-images.githubusercontent.com/15215732/124670575-60055400-dede-11eb-887b-dbb74ff59253.png)
I expected the values in the red box to be shown as "True" or "False" (or maybe checkboxes?). It's a small bug though.
Following is how I defined the parameter
![image](https://user-images.githubusercontent.com/15215732

[2021-07-07 03:12] off99555 opened #2673 "Listing crashed trials"
Is there a way to list trials that crashed?
Use case is to find bug when some combinations of parameters do not work together.
Example use case: I search optimizers between rmsprop, adadelta, adagrad, adam, nadam, sgd.
I found that the top 100 visualizations do not have nadam as optimizer at all. The first thought is that maybe nadam is bad optimizer. But actually it's because nadam cannot be used

[2021-07-07 13:09] vishnu2kmohan commented on #2673
Thanks for the suggestion @off99555, we'll look into adding the ability to filter/sort by state.

[2021-07-07 13:21] vishnu2kmohan commented on #2670
Thanks for the bug report @off99555, we'll look into fixing this up.

[2021-07-07 14:19] vishnu2kmohan commented on #1583
Hey @zjorgensenbits have you had a chance to upgrade and test 0.16.x out?

Any feedback?

And if it's what you and/or your team were after, may we please close out this issue?

[2021-07-07 14:55] #2646 closed

[2021-07-07 16:43] ioga commented on #1723
Sounds like this is fixed. Please let us know if you encounter further issues.

[2021-07-07 16:43] #1723 closed

[2021-07-07 18:50] #2629 closed

[2021-07-07 18:56] hamidzr opened #2680 "set up a demo/preview cluster"
related to https://github.com/determined-ai/determined/issues/2629

- [x] an aws cluster that follows the tip of master
- [x] with dynamic agents (cpu based?)
- [ ] create demo experiments under demo user
  - [ ] temporarily set the cluster up with beefier resource pools
- [x] create and manage users

[code]

[2021-07-07 18:57] hamidzr commented on #2680
@mackrorysd is helping with the first two pieces
cc @ahj-determined

[2021-07-07 20:11] ahj-determined commented on #2680
Cool, let me know if/when I can help with `create demo experiments under demo user`

[2021-07-07 21:13] hamidzr opened #2686 "bug: user sometimes gets redirected to a broken path after login"

[2021-07-07 21:16] #2686 closed

[2021-07-07 22:40] hamidzr commented on #2601
I pushed a commit for the bare min changes needed to expose the runner state.
- [] add custom handlers for unspecified (if we want to keep that as a state)
- [] come up with a better UI/UX for displaying this.

[2021-07-07 23:43] hamidzr commented on #2670
aah I see what's going wrong here. I'll put up a fix.

[2021-07-08 14:10] off99555 opened #2696 "Getting trial config from checkpoint"
I have a use case where I want to grab the trial config from the checkpoint but the checkpoint only has an attribute to access experiment config.

[code]

The reason I want to grab the trial config is to instantiate a trial context so that I can use it to load dataset to evaluate metrics and predict again. Or use the trial to preprocess live inference dataset.
There is a work around that I current

[2021-07-08 23:30] rb-determined-ai commented on #2696
Hi @off99555, we would say that a trial has an experiment config which defines a hyperparameter _space_, and a trial has a particular hyperparameter _sample_, which represents a single point in that space.  So there isn't really such thing as a "trial config".

You can in fact load a MyModelTrial directly from a checkpoint, with `ckpt.load()`, I believe.

Otherwise modifying (a copy of) the origin

[2021-07-09 01:28] off99555 commented on #2696
`ckpt.load()` actually returns `<tensorflow.python.keras.engine.functional.Functional at 0x202029da520>` which is an instance of the keras model, not `MyModelTrial`.
So I cannot access the trial related functions e.g. `build_training_data_loader()` or `build_validation_data_loader()` for example.

I'm not trying to create a new experiment though. I just want to access the trial config to use it to

[2021-07-09 01:39] rb-determined-ai commented on #2696
Ah yes.  It's PyTorchTrial where we do that.

Then I would say overall, the way you are doing it is the way I would recommend doing it.

You could probably avoid the `ctx = ...from_config()` by pulling your dataloader functions out as helper functions, so you can call those same helper functions from either your Trial class our outside of your trial class.  But that's up to you.

[2021-07-09 01:53] off99555 commented on #2696
So is there a plan

[2021-07-09 01:53] #2696 closed

[2021-07-09 19:40] #2670 closed

[2021-07-09 22:51] hamidzr commented on #2601
I chatted with Alex and we explored a few different ways of showing the runner state.

![substate](https://user-images.githubusercontent.com/12127420/125142759-5a219580-e0cd-11eb-86c8-05eb32890427.png)

We're gonna go with using the stat boxes for now.

[2021-07-09 22:51] hamidzr commented on #2601
this is now pushed to `upstream/push`

[2021-07-09 22:51] #2601 closed

[2021-07-12 18:32] hkang1 opened #2714 "Expose trial logs to be more easily accessible in experiments"
Make trial logs more readily available for debugging.

ISSUE:
Trial logs are harder to access and require an extra drill down to access.

PROPOSAL:
Add overflow column to experiment trials table (multi-trial only) and add `View Logs` under the overflow menu.

https://determinedai.atlassian.net/browse/DET-5643

[2021-07-12 18:37] hkang1 opened #2715 "WebUI: Investigate and fix issue of streaming endpoints not terminating properly"
Currently we are using HTTP standard `AbortController` to terminate gRPC streaming endpoints. It doesn't seem like it is working. It is noticeable when viewing hp visualizations. When clicking around the various graphs in hp-viz, multiple streaming endpoints are called, but after about 4th click, the page will show a spinner. If we look at the `Network` tab on the browser, we'll observe that the l

[2021-07-12 19:00] hamidzr opened #2716 "docs: add guidance on modifying resource pools for an active aws cluster"
context: https://determined-community.slack.com/archives/CV3MVAQJU/p1625831202072100

[2021-07-12 21:11] hamidzr opened #2719 "loading spinners in the ui could use a description"
as to what they're waiting on.

[2021-07-12 23:16] hamidzr commented on #2714
another alternative to an overflow could be to show the icons inline to the row maybe as a new column or mixed with checkpoint?

![image](https://user-images.githubusercontent.com/12127420/125367103-648d9a80-e32c-11eb-91a5-92aabd32c560.png)

any thoughts @alexjdetermined ?

[2021-07-13 18:28] #2673 closed

[2021-07-13 18:45] #2719 closed

[2021-07-13 20:54] hamidzr commented on #2715
this would probably only recreate in active experiments correct? otherwise the stream closes

[2021-07-13 20:56] hamidzr commented on #2715
a separate issue but we can probably get these two streaming request to be closed by the server in terminal states
[code]

[2021-07-13 21:53] hamidzr commented on #2715
the abort signal seems to work as expected. It's looking like we don't trigger it as expected in some places in the UI.

[2021-07-13 22:45] hkang1 commented on #2715
Yeah I that sounds right. I tried clicking around on hp-viz out on a terminal completed (multi-trial) experiment and it seems totally fine. The network tab is showing the hp-trial-metric endpoints ending as well.

[2021-07-13 23:39] hkang1 commented on #2715
I see, thanks, this was REALLY helpful. Looking again at the hp-viz section, it's possible the cleanup portion in the `useEffects` are not calling the cleanup callback properly. I'll take a look.

[2021-07-14 23:23] hkang1 commented on #2715
Thanks for the thorough investigation!

[2021-07-14 23:23] #2715 closed

[2021-07-15 21:56] justin-determined-ai commented on #2716
testing @alexjdetermined

[2021-07-15 23:06] hamidzr opened #2739 "the ui could get stuck at a blank screen if server is down"
this would be more pronounced if the ui is getting served via anything but the determined master

[2021-07-15 23:07] hamidzr commented on #2739
would be nice to have something along the lines of a heartbeat check.

[2021-07-15 23:14] #2714 closed

[2021-07-15 23:18] #2739 closed

[2021-07-19 17:23] #2680 closed

[2021-07-19 18:22] hamidzr opened #2746 "total number of gpus reported goes down [k8]"
in a single agent after a second slot is requested by a second experiment.

https://determined-community.slack.com/archives/C025A98H82X/p1626718994148300?thread_ts=1626717771.148000&cid=C025A98H82X a potential issue with k8 agent. The agent stops reporting a slot in some cases

[2021-07-19 18:44] hamidzr commented on #1583
I'll close this for now but please feel free to reopen if there are any questions or updates.

[2021-07-20 15:52] hamidzr opened #2750 "webui test failures in push architecture"
- https://app.circleci.com/pipelines/github/determined-ai/determined/14213/workflows/4b822d35-dc2b-40ae-a995-a149bffa67bf/jobs/423269 (3)

Experiment batch operations￼
Modify experiments￼
Check recent tasks

- https://app.circleci.com/pipelines/github/determined-ai/determined/14210/workflows/df40895f-776d-481d-80c4-ac536e03ed92/jobs/423163 (6)

Check recent tasks￼
Experiment batch operations￼
Modi

[2021-07-20 19:09] hamidzr commented on #2750
check recent tasks failure: it was expecting 7 but got 8 cards
![image](https://user-images.githubusercontent.com/12127420/126381671-59d4c727-ba34-46fb-8a45-217c303e24af.png)

[2021-07-20 19:20] hamidzr commented on #2750
'can't find an exeriment to kill'
expected case:
https://user-images.githubusercontent.com/12127420/126382788-3cdeaf83-95b5-4c2a-bb48-8e1620205797.mp4

sometimes pausing takes a while and experiments progress to the completed state

https://user-images.githubusercontent.com/12127420/126382972-bf690a63-6639-4431-9fed-9eed607a3f27.mp4

[2021-07-20 19:28] hamidzr commented on #2750
`Experiment batch operations` fails because with the previous issue the set up doesn't end up archiving the experiment.

[2021-07-20 20:07] hamidzr commented on #2746
update: this is an issue with the k8 agent or lower down in the system. there is an internal ticket to track that work

[2021-07-20 20:07] #2746 closed

[2021-07-20 21:41] hkang1 opened #2752 "Add support for experiment DELETE on the WebUI"
Blocked on this [PR](https://github.com/determined-ai/determined/pull/2741) landing.

**NOTE** Experiment delete is only available to Admin users.

Experiment List page
- add `Delete` option to overflow menu for each experiment row
- show modal delete confirmation and send Rest API call upon confirmation. The state should change to `DELETING` upon a successful call.

Experiment Detail page
- add `

[2021-07-20 21:56] hamidzr commented on #2750
we probably should use the expect library where we can instead of manual checks and comparisons. one benefit is better logging:

[code]

vs

[code]

[2021-07-20 22:38] #2750 closed

[2021-07-21 21:03] hamidzr opened #2760 "queue management ERD"

[2021-07-21 23:51] hamidzr opened #2764 "terminal single trial experiments with no trial show a waiting spinner"
when:
- terminal experiment state
- single trial experiment
- we have checked the trial list and its empty

then:
- no trials

[2021-07-22 00:37] hamidzr commented on #2752
this would mean that from the webui POV terminal states are no longer as terminal..

[2021-07-22 15:34] BlueskyFR opened #2770 "Dash char ("-") invalid in entrypoint module name"
When using a file, say named `basic.yaml`:
[code]
The dash ("-") in the module name is not recognized as part of the module name. Indeed, the command `det experiment create basic.yaml .` gives the following error:
[code]

From what the [Python spec](https://packaging.python.org/specifications/entry-points/) says, it looks to me that the dashes are allowed in the module names, though I could be wro

[2021-07-22 20:24] rb-determined-ai commented on #2770
They are talking about an `entrypoint` that is an unrelated concept to our `entrypoint`.  That doc is talking about python packaging concepts.  Our `entrypoint` in our config is a reference to a class in a python module.  It's most similar to this phrase from the docs:

A python identifier can't have a dash in it, or python would interpret it as subtraction of `determined` from `imagenet`.

If you

[2021-07-22 22:12] BlueskyFR commented on #2770
Thanks for the clarification @rb-determined-ai!
I was actually quoting the Python specs because the Determined documentation links to it.

Now closing this issue then!

[2021-07-22 22:12] #2770 closed

[2021-07-23 00:25] #2764 closed

[2021-07-23 17:18] zjorgensenbits commented on #1583
Finally had a chance to upgrade and test this and it works great -- exactly what I was hoping for.
However, I believe I discovered a bug.  If I click launch, everything works fine, but if I first click "show full config" and then click launch (even if I don't edit the config), the notebook immediately terminates.  The log shows the following error: [2021-07-23, 17:13:24] test-notebook was terminat

[2021-07-23 17:22] vishnu2kmohan commented on #1583
Thanks for the report @zjorgensenbits, we'll take a look.

[2021-07-23 17:51] hamidzr commented on #1583
@zjorgensenbits do you mind expanding on the click launch a bit? Is it that all the form inputs are empty like https://user-images.githubusercontent.com/12127420/122833216-6f12c200-d2a1-11eb-9e5c-ff9302874148.png or is it that some of those are changed, either at the time of launch or from a saved previous usage.

[2021-07-23 19:18] zjorgensenbits commented on #1583
I can select a template and resource pool and then click the Launch button at the bottom and everything works as expected. However, if instead of clicking the Launch button I instead click the "Show Full Config" button and then subsequently click the Launch button on that modal, the notebook fails to start.

[2021-07-23 22:14] hamidzr commented on #1583
I suspect it'd fail with the same error if you leave the fields in the form empty and click launch. We'll look into this.

[2021-07-24 01:03] hamidzr opened #2785 "update the coding challenge"

[2021-07-24 01:03] #2785 closed

[2021-07-27 16:08] zjorgensenbits commented on #1583
Yes, I believe the first time I tried the new feature the fields were blank and hitting launch caused a similar failure.  Now though, since I've already selected options it seems to remember those options in the future.

[2021-07-27 18:48] ahj-determined opened #2793 "Replace Save checkpoint and stop checkbox with a button"
Currently, when a user clicks "Stop", they have the option to check the checkbox of "Save checkpoint before stopping experiment". This has 2 issues: 1) the default options does not save existing work and 2) saving a checkpoint requires two click. Instead, let's replace it with a button:

- Remove  "Save checkpoint before stopping experiment" checkbox
- Add a button, so the three buttons would be 1

[2021-07-28 17:36] hamidzr commented on #2752
do we want this to be an admin only feature?

[2021-07-28 17:36] hamidzr commented on #2752
we can avoid this complexity if we just send the user out of the experiment detail page when their deletion request is received successfully

[2021-07-28 17:53] #2716 closed

[2021-08-03 19:22] #2752 closed

[2021-08-03 19:22] hamidzr commented on #2752
do we get asked to support a bulk action for this?

[2021-08-07 05:16] brollinli opened #2809 "where is the determined.pytorch package on source code?"
If this platform was open source, but I can’t find some codes, such as pytorch or tensorflow and more , I’m need help to using the code !

[2021-08-08 15:22] vishnu2kmohan commented on #2809
The code for the PyTorch module is under [harness/determined/pytorch](https://github.com/determined-ai/determined/tree/master/harness/determined/pytorch)

Likewise you'll find the code for managing frameworks that we support under [harness/determined](https://github.com/determined-ai/determined/tree/master/harness/determined)

[2021-08-08 15:23] vishnu2kmohan commented on #2809
What kind of help are you looking for @brollinli?

We'd be happy to help out over in our [slack](https://join.slack.com/t/determined-community/shared_invite/zt-cnj7802v-KcVbaUrIzQOwmkmY7gP0Ew) channel.

[2021-08-09 02:43] brollinli commented on #2809
thanks for your msg, i got it .

[2021-08-09 02:43] #2809 closed

[2021-08-11 02:54] hamidzr commented on #1583
with the following in master config

[code]
the first request below fails with the reported error whereas the second one does not. we use the preview parameter to resolve the presented config in `edit full config` flow

[code]

WIP

[2021-08-11 23:15] #1583 closed

[2021-08-16 20:52] hamidzr opened #2835 "build: refine where we generate and persist API bindings"
https://determined-community.slack.com/archives/C025A98H82X/p1628812241031100

[2021-08-18 11:56] DLPerf opened #2843 "Performance issues in the program"
Hello,I found a performance issue in the definition of `xor_input_fn` ,
[dataset = dataset.map(map_dataset)](https://github.com/determined-ai/determined/blob/b7c88380a4fe44c88bdda4d8c8180715443bc9b8/harness/tests/experiment/fixtures/estimator_xor_model.py#L26) was called without **num_parallel_calls**.
I think it will increase the efficiency of your program if you add this.

The same issues also e

[2021-08-18 12:03] vishnu2kmohan commented on #2843
Hi @DLPerf - thanks for the report, and suggestion!

Out of curiosity, by bow much does performance improve - i.e., before and after the fix?

We'd _love_ if you would contribute a PR to fix this (and not because we're too busy, but because we'd love to encourage more contributions from the community).

[2021-08-18 13:47] off99555 opened #2844 "int search range is not inclusive of maxval"
I suspect that the search range is in inclusive of minval but it's not inclusive of maxval.
So from the following config, only 1,2,3 will be sampled.
[code]

Now the catch is that the sampling will work properly (include maxval) when testing using `determined.keras.TFKerasTrialContext.from_config(cfg)`.
But it will not work properly when deployed as an experiment. (I run on AWS)

I tried to find o

[2021-08-18 15:10] vishnu2kmohan commented on #2844
Thanks for the report @off99555, we'll look into this...

[2021-08-19 00:04] hamidzr opened #2852 "investigate: experiment page stops pulling new data in paused state"
https://determined-community.slack.com/archives/C025A98H82X/p1629312879058000

[2021-08-20 08:46] off99555 opened #2860 "WebUI doesn't plot metric when its value is zero"
When the metric reports value=0, the web UI refuses to plot it. (But it's plotted in the top 100 visualization)
I expeced it to plot a line like what I drawn with red.
![image](https://user-images.githubusercontent.com/15215732/130206805-5e3be2d0-1b27-420e-b2f6-ef06fd20e9c7.png)

[2021-08-21 14:22] vishnu2kmohan commented on #2860
Thanks for the report @off99555, we'll look into this...

[2021-08-23 08:50] DLPerf commented on #2843
Ok,I am willing to offer you my PR.I just want to know if you could offer me a benchmark .
Anyway,it would be more convient.

[2021-08-23 18:53] hkang1 commented on #2860
[This PR](https://github.com/determined-ai/determined/pull/2863) will fix this issue. It will be part of our next release!

[2021-08-24 05:46] off99555 commented on #2860
Cool!

[2021-08-24 05:46] #2860 closed

[2021-08-24 13:03] BlueskyFR commented on #2630
Still no news?

[2021-08-24 13:43] felix-schneider opened #2867 "No IntelliSense available in PyCharm"
When writing an Experiment in PyCharm, the indexing does not work properly, breaking IntelliSense. The automatic import works, but then it says the subpackage cannot be found.
I'm not sure if other IDEs are affected.
As far as I know it is possible for a package developer to provide some .pyi files which help IDEs to index.

![image](https://user-images.githubusercontent.com/208336/130627274-6d142

[2021-08-24 13:47] felix-schneider commented on #2867
I'm sorry, this was my bad, PyCharm was (incorrectly) finding another package in my project with is named `determined`. Closing this.

[2021-08-24 13:47] #2867 closed

[2021-08-25 20:32] hamidzr opened #2872 "tests: fix tasks batch action test flake"
two instances
https://app.circleci.com/pipelines/github/determined-ai/determined/14918/workflows/cbe93d30-7177-443a-a9c7-eae8e80203e2/jobs/448031
https://app.circleci.com/pipelines/github/determined-ai/determined/14916/workflows/1688dda3-8f95-4fba-9a7c-7a6717d377b5/jobs/447985

circleci stats show a 16%  decrease in pass rate for it to 76%

[2021-08-30 19:03] rb-determined-ai commented on #2844
Bug fix is [ready](https://github.com/determined-ai/determined/pull/2884), but since it will break reproducibility for hyperparameter selection (not for the training, just the hparam selection), we're not going to land it until v0.17.0 (which is expected in a couple of weeks).

Thank you for reporting this, @off99555!

[2021-08-30 21:06] hkang1 commented on #2872
On the batch operations, it programmed to deselect everything upon a confirmation of the batch operation (such as Kill)

[2021-08-30 21:20] hamidzr commented on #2872
it doesn't seem to get to the confirmation though, fails to actually click on kill

[2021-08-30 21:41] hkang1 commented on #2872
Ah you're right, it doesn't look like it gets to the confirmation `kill` button...

[2021-08-30 22:03] #2844 closed

[2021-08-31 15:18] MalteEbner opened #2888 "Use determined.ai for active learning"
How can I use determined.ai for active learning? E.g. I want to conduct an experiment/episode consisting of multiple steps of training a machine learning model. The pseudocode is similar to

[code]
After trying different active learning agents, I would like to generate a plot similar to the following. (the y-axis shows the classification accuracy)
<img width="397" alt="image" src="https://user-ima

[2021-08-31 16:37] hamidzr commented on #2835
TODO update the error message that pops up present more details

[2021-08-31 16:40] hamidzr commented on #2835
what do you think about `build-bindings` target to also create a commit for you if it results in a change?

[2021-08-31 16:44] #2760 closed

[2021-08-31 16:47] ioga commented on #2835
I don't think this is necessary when you run things locally: you may be in the middle of development, and thus you may have other dirty changes in the repo. it will complicate things.
Running `git add -u` and `git commit -m wip` is already trivial enough.

[2021-08-31 18:16] vishnu2kmohan commented on #2630
Thanks to @dzhu, we will have `latest` tags pushed, for convenience, starting with the 0.16.5 release, expected later this week or early next week.

Thanks for the feedback @BlueskyFR!

[2021-08-31 18:40] #2630 closed

[2021-08-31 20:59] liamcli commented on #2888
Hi Malte,
You can repurpose our trials to do active learning runs but it's somewhat hacky.  One possible approach is to have each `train_batch` call be an active learning round where you prepare the labeled dataset, train for some number of epochs, and then compute whatever you need to identify points to label in the next active learning round.  I've provided a template trial definition and an exp

[2021-09-01 08:05] MalteEbner commented on #2888
Thank you for your quick answer!
Did I get the following right?
- Basically, you are abusing the `train_batch()` method. It does not train on a single batch anymore, but on all batches for multiple epochs to perform one active learning step.
Thus the information during training of one single model is basically lost. Furthermore, there is less fine-grained control, as each "train_batch()" can easil

[2021-09-01 10:27] BlueskyFR opened #2893 "Mixed precision not available for Keras (deprecated?)"
`PyTorchTrialContext` subclasses `det.TrialContext` but defined the function `configure_apex_amp()` that is not present in its parent `det.TrialContext`.
In the documentation, it is specified that, for the `optimizations.mixed_pecision` experiment configuration setting: *"This configuration setting is deprecated; users are advised to call context.configure_apex_amp in the constructor of their tria

[2021-09-01 15:24] hkang1 opened #2895 "Single trial experiment state remains `ACTIVE` upon completion in experiment header"
[DET-5915](https://determinedai.atlassian.net/browse/DET-5915)

also happens when paused.

[2021-09-01 15:25] hkang1 opened #2896 "Cancel button not showing up on active single trial experiments"
[DET-5914](https://determinedai.atlassian.net/browse/DET-5914)

Kill button doesn’t show up either

[2021-09-01 15:46] rb-determined-ai commented on #2893
Hi @BlueskyFR, the field `optimizations.mixed_precision` is a bit of an artifact.  A long time ago, when we added it, we had a vision for providing a sort of "unified" configuration experience, where you could turn on e.g. mixed precision regardless of the training loop that was going to run.  In practice, that turned out to be highly impractical.

Currently, `optimizations.mixed_precision` remain

[2021-09-02 07:47] MalteEbner commented on #2888
Thanks a lot for your help, I will try the 2nd option!

[2021-09-02 07:47] #2888 closed

[2021-09-02 15:37] hkang1 commented on #2895
fix: https://github.com/determined-ai/determined/pull/2902

[2021-09-03 18:13] hkang1 commented on #2896
the fix has landed and will be available in the next release

[2021-09-03 18:13] #2896 closed

[2021-09-03 18:13] hkang1 commented on #2895
the fix has landed and will be available in the next release

[2021-09-03 18:13] #2895 closed

[2021-09-03 18:15] hkang1 commented on #2793
@EmilyBonar is working on this via [this PR](https://github.com/determined-ai/determined/pull/2894)

[2021-09-07 18:33] hamidzr opened #2919 "prepare for new node LTS (v16)"
tracking what needs to be updated

1. webui e2e tests don't run (gauge related?)

[2021-09-07 19:15] #2872 closed

[2021-09-07 21:09] hkang1 commented on #2919
One issue I came across with `npm v7` was around `npm-force-resolutions` not working the same as before. So I remember have a really tough time resolving package security issues w/ npm v7.

[2021-09-08 00:27] hamidzr commented on #2919
IIRC this is related https://determined-community.slack.com/archives/C024Z5WELBH/p1625077270022200

[2021-09-08 13:36] felix-schneider opened #2926 "Static type checker for Pytorch custom metric reducer"
If I use `wrap_reducer` to wrap a simple python function, I get back a `_SimpleReducer` instance, which supports the `update()` method which is not in `MetricReducer`. As a result, the static type checker complains.

![Screenshot 2021-09-08 152930](https://user-images.githubusercontent.com/208336/132518636-7bd3c56a-4b8d-46d6-aada-67373ecc798d.png)

This could be fixed by defining an overload:

[co

[2021-09-09 15:17] hkang1 opened #2931 "feat: add support for displaying `NaN`, `Infinity`, `-Infinity` for metric values in WebUI tables"
https://determinedai.atlassian.net/browse/DET-5944

[2021-09-09 17:39] hamidzr opened #2934 "QueueMgmt **Set up API skeleton and internal data types**"
- implement proto data types, request messages, response message, and APIs based on api.md
- put in dummy API handlers in master

[2021-09-09 19:49] hamidzr opened #2937 "QueueMgtm **1 compute queue-position for jobs**"
2 priority scheduler

[2021-09-10 18:55] hkang1 opened #2941 "WebUI: drop training time, validation time and checkpoint time stats boxes from trial details."
https://determinedai.atlassian.net/browse/DET-5956

[2021-09-10 22:48] hkang1 commented on #2931
work in progress to address this
https://github.com/determined-ai/determined/pull/2943

[2021-09-13 16:23] eecsliu opened #2947 "**Update Kubernetes Scheduler to Dynamic Priority Classes**"
Our Kubernetes implementation currently uses static priority classes that we must define before the cluster gets created. In order to manipulate queue order, we must first shift the scheduler to using dynamic priority classes so that we can allocate and deallocate priorities.

[2021-09-13 19:59] hkang1 commented on #2931
work has landed

[2021-09-13 19:59] #2931 closed

[2021-09-13 20:00] hkang1 commented on #2941
[open PR](https://github.com/determined-ai/determined/pull/2944)

[2021-09-14 23:21] hamidzr commented on #2835
print all or part of the diff that was expected to be included as part of the error message.

[2021-09-14 23:26] ioga commented on #2835
I think my original problem was more along the lines of "I forgot we need to do that, and I don't even remember *how* to do that". Once you know that, the process is straightforward.

When we had the obscure go.sum/go.mod issues between local or CI, the diff could've been helpful because it's hard to tell what's wrong and you're debugging it. With these bindings luckily this is not a case, AFAIK.

[2021-09-15 14:29] hkang1 commented on #2752
we didn't but I could see that being really convenient to have!

[2021-09-15 18:33] eecsliu opened #2959 "**Allow the Kubernetes scheduler to schedule using labels**"
The kubernetes scheduler currently operates solely on priorityclasses. This becomes insufficient when reordering jobs with the same priority. We must therefore be able to order and schedule jobs after taking into account the relative position.

This will be administered via label

[2021-09-17 23:53] hamidzr opened #2974 "[JQ] create, persist, and associate job-id with experiments, and NTbCS"
persist in the database as a new table

[2021-09-28 21:55] #2934 closed

[2021-10-05 18:31] #2974 closed

[2021-10-05 18:32] hamidzr opened #3040 "Q Mgmt: Implement GET jobs"
using sproto.GetTaskSummaries and experiments actors. push API changed this
communicate with trials, experiments, NTbCS
1 streaming capable?

- [] get user information

[2021-10-05 18:32] hamidzr commented on #3040
https://github.com/determined-ai/determined/commit/b99ad32d838b2071077adab3fd7dba6d71f34ab7

[2021-10-05 18:42] hamidzr opened #3041 "getJobs cli"
CLI interface to get the job queue for a specific resource pool

depends on fastapi codegen issue

[2021-10-05 18:42] hamidzr opened #3042 "cli fastapi codegen"

[2021-10-07 23:24] PeterSulcs opened #3058 "misspelling of persistent in helm template"
nitpick:

The file `determined/helm/charts/determined/templates/db-persitent-volume-claim.yaml` includes a misspelling of the word persistent. Suggest renaming this file by changing:

`persitent` --> `persistent`

Sincerely,
Pedantic Pete

[2021-10-08 02:06] okraus opened #3059 "checkpoint.download(path) doesn't work as expected"
I realized that `determined.experimental.client.Checkpoint.downlaod(path=<top-level-checkpoint-dir>)` doesn't work as expected. Instead of downloading the `checkpoint <UUID>` to the specified folder, it downloads a folder named `code` containing a copy of the context directory, and a `metadata.json` file with the yaml config, and a `state_dict.pth` which I guess contains the checkpoint. But this i

[2021-10-11 18:31] hamidzr opened #3064 "job summary for individual ENTbCS"
consider lowering overhead for individual entities would wanting to look up job summary.
- represented by an actor? could help to stream as well

[2021-10-12 17:29] eecsliu opened #3068 "Modify schedulers to read/operate on labels"

[2021-10-12 21:15] hamidzr opened #3072 "job stats api"
1 implement /jobs/stats (for each resource pool)

[2021-10-12 22:29] #3058 closed, assigned to nobody

[2021-10-13 12:57] vishnu2kmohan commented on #1585
Update: We landed idle timeout support in 0.17.0

cc @shiyuann

[2021-10-13 12:58] #2626 closed

[2021-10-13 13:00] #2793 closed

[2021-10-14 10:02] harpone opened #3082 "Feature request: a `.finally()` method or similar for `det.Trial` class"
I'm using the pytorch profiler with weights and biases, and would need to upload the saved profile traces to weights and biases after training. Also logging some custom stuff that's stored as attributes of the `det.PyTorchTrial` class.

It would be nice to have a `.finally()` method or similar where I could wrap up stuff like that at the end of training...

Open to ideas how to hack around this in

[2021-10-14 17:39] vishnu2kmohan commented on #3059
We discussed this internally and plan to overhaul the checkpoint downloading UX. cc @shiyuann

We'll reach out to you once we have a proposal for improvements ready @okraus.

[2021-10-15 12:35] vishnu2kmohan commented on #3082
Hi @harpone; welcome, and thanks for your feedback!

We'll look into this (cc @rb-determined-ai @shiyuann) and let you know.

In the meanwhile, I wanted to point out that PyTorch-native profile traces can be viewed via TensorBoard from within Determined, if that's an adequate workaround?

Out of curiosity, what kinds of visualizations or interactions or analysis are you relying on in Weights & Bia

[2021-10-18 15:58] eecsliu opened #3092 "implement getJobs on k8s"

[2021-10-20 16:52] eecsliu opened #3100 "Fix `resourcepool not found` error in update messages"

[2021-11-01 23:21] hamidzr opened #3151 "in-house python API client based on swaggerspec"
aka OpenApi spec

related https://github.com/determined-ai/determined/issues/3042, https://github.com/determined-ai/determined/issues/3041

[2021-11-09 03:20] CnybTseng opened #3176 "TypeError: issubclass() arg 1 must be a class"
[2021-11-09 03:04:05] 26fa7420 || INFO: Loading Trial implementation with entrypoint model:MobileViTTrial.
<info> [2021-11-09 03:04:05] 26fa7420 || Traceback (most recent call last):
<info> [2021-11-09 03:04:05] 26fa7420 ||   File "/opt/conda/lib/python3.8/runpy.py", line 194, in _run_module_as_main
<info> [2021-11-09 03:04:05] 26fa7420 ||     return _run_code(code, main_globals, None,
<info> [202

[2021-11-11 10:33] hwaxxer opened #3184 "checkpoint_storage should allow setting path in bucket"
When using `checkpoint_storage` with type `s3` or `gcp` it should be possible to select a key/path in the bucket where the checkpoints are stored. This would allow the use of one bucket for all training artifacts, eg checkpoints, data layer cache etc.

[2021-11-12 15:00] vishnu2kmohan commented on #2926
@rb-determined-ai have you perhaps already addressed this request, and if not would you? :pray:

[2021-11-12 15:01] vishnu2kmohan commented on #3184
I'll defer to @varlogtim here, but we recently landed this https://github.com/determined-ai/determined/commit/a580ed5d2bfb426cd2c1eade39cadfec4326478e which should be out in the 0.17.3 release next week and _should_ address your request?

[2021-11-12 15:48] varlogtim commented on #3176
@CnybTseng Could you share a cleaned copy of your `model.py` which shows the `class MobileViTTrial` definition?

[2021-11-12 16:03] varlogtim commented on #3184
Correct. The change @vishnu2kmohan  mentioned adds supports the use of a `prefix` for `checkpoint_storage` types of `s3`.

We _should_ be adding support for `prefix`es in `gcs` very shortly.

The `DataLayer` currently supports prefixes via the `bucket_directory_path` for `s3`.

[2021-11-14 07:39] slyviacassell opened #3187 "How to integration with DeepSpeed?"
I know that `deepspeed` has direct interaction with `transformers` or `pytorch-ligntning` .  Does this mean determined could be integrated with it? Or, this feature works in progress?

[2021-11-14 13:54] vishnu2kmohan commented on #3187
Hi @slyviacassell, I hope you'll be pleased to learn that we already have a working prototype training [gpt-neox](https://github.com/determined-ai/DeepSpeed) via [DeepSpeed](https://github.com/determined-ai/DeepSpeed) with ZeRo (3D Parallelism).

The full-fledged integration - i.e., beyond the prototype linked to above, is actively being worked on...

cc @liamcli @shiyuann

We'd love if you would

[2021-11-15 17:48] eecsliu opened #3188 "Fix K8s labeling bug"

[2021-11-15 17:49] eecsliu opened #3189 "Support moving experiments between RPs"

[2021-11-15 18:20] eecsliu opened #3190 "Update exp status in k8s"

[2021-11-16 02:22] slyviacassell commented on #3187
@vishnu2kmohan Thanks for your inspiring response. As far as I know, we could activate `deepspeed` by using `bash command` shown in the docs of `transformers` and `pytorch-lightning`. However, the determined have wrapped the initialization of distributed training, and there is no need to use `bash command`. My question is actually about the wrap layer of `determined`. I would like to figure out wh

[2021-11-16 03:37] 18724799167 opened #3195 "When launch a agent without gpu use "det deploy local agent-up --no-gpu <master_hostname>", but launch a agent with gpu."
![Picture2](https://user-images.githubusercontent.com/31273093/141891458-3ec76250-3dc2-49d6-afae-7c71801da88d.png)

[2021-11-16 14:35] vishnu2kmohan commented on #3195
Hello @18724799167 I'm not sure I understand the issue.

Are you saying that you have an agent that has GPUs in it that you'd like to register with the master but have it pretend/behave like it doesn't have GPUs - i.e., you don't want its GPUs advertised to the master? (If so, would you help us understand why you want to use/enable this sort of setup?)

cc @shiyuann @varlogtim

[2021-11-16 14:39] vishnu2kmohan commented on #3187
Hi @slyviacassell

Yes, as mentioned earlier, we're actively working on the integration - i.e., our engineers are developing it:

Is there something you'd like us to clarify about our integration/implementation - i.e., we'd like to understand the question/motivation behind your question below:

[2021-11-17 02:26] #3187 closed

[2021-11-17 12:43] aleb opened #3205 "Experiment deletion failures"
I see some deleted experiments with status "DELETING" and "DELETE_FAILED". From what I see in the `det master logs` output, the switch from "DELETING" to "DELETE_FAILED" happens when the master is restarted.

By grepping for the experiment number (e.g. 949) in the master logs, I see:
[code]

We're using Detai 0.17.0

[2021-11-18 13:29] vishnu2kmohan commented on #3205
@hamidzr @stoksc would you PTAL :point_up:, thanks!

[2021-11-18 14:34] stoksc commented on #3205
Thanks for the report, should have a fix for this in the next release. Had a bug in the delete code from a semantic conflict, where a table (now raw_steps) was changed to a view (steps) around when the delete was added, but delete was never updated to reference the underlying table and the delete on the view missed tuples.

[2021-11-19 21:03] #3205 closed

[2021-11-24 01:01] hamidzr opened #3228 "split read and write portions of job queue for separate release"

[2021-11-29 17:45] eecsliu opened #3237 "Docs"

[2021-12-02 17:27] vishnu2kmohan commented on #3195
Hi @18724799167 have you managed to resolve the issue, and if so, is it safe to close this issue?

[2021-12-03 13:47] hqsam opened #3261 "Failed to change password for user: Forbidden(user not authorized): Please contact your administrator in order to access this resource."
after install the determined,   I can not change the password.  When I type : det user change-password, the following error will occur.:

Failed to change password for user: Forbidden(user not authorized): Please contact your administrator in order to access this resource.

[2021-12-03 20:06] hkang1 opened #3263 "[DET-5711] Choose metric on metrics graph and workloads when available"
https://determinedai.atlassian.net/browse/DET-5711

Hamid: once a trial is kicked off at the begining we don't have any metrics but once we get some training metric we still don't pick any of the metrics for the user to be displayed in the trial chart. IMO we could apply the same logic we use to pick some metrics to show at that point to avoid views like the following

repro: create an experiment

[2021-12-06 17:23] vishnu2kmohan commented on #3261
Hi @hqsam, are you sure you're already logged in as the user whose password you're attempting to change?

What does `det user whoami` say?

Note: You can always change the password for any user by assuming the admin role - i.e., via `det -u admin change-password <username>`

Ref: [Users](https://docs.determined.ai/latest/sysadmin-basics/users.html#getting-started)

[2021-12-07 11:32] ramakrishnamamidi opened #3275 "Issue in distributed training"
Hi I am trying to create a distributed training experiment using [flower-classification](https://www.kaggle.com/c/flower-classification-with-tpus/data) dataset.

Below is my model_def.py code

[code]

Following is my distribute.yaml file

[code]
Dockerfile for image used above

[code]

When i create an experiment I am getting the following logs

[code]

Can someone help me with what is going wrong

[2021-12-07 11:33] ramakrishnamamidi commented on #3275
Detailed Log of the experiment
[code]

[2021-12-07 13:38] vishnu2kmohan commented on #3275
Hi @ramakrishnamamidi, as suggested on the [Determined Community Slack thread](https://determined-community.slack.com/archives/CV3MTNZ6U/p1638883675188200?thread_ts=1638877887.187600&cid=CV3MTNZ6U), please first verify that the code works with a single-GPU experiment first, before you try distributed training as outlined in the debugging guide: https://docs.determined.ai/latest/training-debug/inde

[2021-12-07 14:00] ramakrishnamamidi commented on #3275
Hi @vishnu2kmohan , I have deployed determined to use only cpu. My value.yaml file is as follows
[code]

I want to use slots_per_trial to throttle number of pods and check the timing of training a DL model.

[2021-12-08 14:51] vishnu2kmohan commented on #3275
Hi @ramakrishnamamidi is it safe to close this issue now that it has been [resolved](https://determined-community.slack.com/archives/CV3MTNZ6U/p1638943055202200?thread_ts=1638877887.187600&cid=CV3MTNZ6U) by re-uploading your dataset?

[2021-12-08 14:51] vishnu2kmohan commented on #3195
Please reopen if necessary.

[2021-12-08 14:51] #3195 closed

[2021-12-08 14:52] vishnu2kmohan commented on #3176
@CnybTseng Ping :point_up:, or please let us know if we can close out this issue.

[2021-12-08 14:53] vishnu2kmohan commented on #3261
Hi @hqsam ping :point_up:, or please let us know if we can close out this issue.

[2021-12-09 00:02] off99555 commented on #2587
Looks good!

[2021-12-09 12:12] #2587 closed

[2021-12-09 12:12] vishnu2kmohan commented on #3275
Please reopen if necessary.

[2021-12-11 15:11] vishnu2kmohan commented on #3261
Please reopen if necessary.

[2021-12-11 15:11] #3261 closed

[2021-12-14 08:13] QimaoYang opened #3318 "bug: Slots Per Agent shows "-1""
version: 0.17.5
problem: On the Cluster page of WebUI, Slots Per Agent shows -1, which causes Launch JupyterLab through WebUI could not select slots numbers.
tried: restart master, restart agent, restart host, could not solve the problem however.
image of the problem:
![image](https://user-images.githubusercontent.com/49085095/145958799-562b90c1-859d-436d-80b5-61fcea5b152d.png)

[2021-12-14 08:21] QimaoYang commented on #3318
just updated from 0.17.3 to 0.17.5

[2021-12-14 12:13] vishnu2kmohan commented on #3318
Thanks for the report @QimaoYang, we'll look into this...

cc @shiyuann @hkang1 @stoksc

[2021-12-14 15:01] stoksc commented on #3318
At least on the backend side, this is by design (though probably poor design): [all static resource pools have slotsPerAgent == 1](https://github.com/determined-ai/determined/blob/60b29812654202a38dacdab0ef3f945ebb02d434/master/internal/resourcemanagers/agent_resource_manager.go#L289). It seems there is some new validation in the WebUI that makes us unable to select 1 (redded out) and if you launc

[2021-12-14 17:48] ioga commented on #3318
I vaguely recall `JupyterLabModal` was working fine for this case when we were building CPU-only training, i.e. back in the summer. I suppose it regressed along the way. I think we should just set max slots to 65536 if `slotsPerAgent < 0`.

Ideally, we could also try being smarter about it: fetch the list of agents, and set it to maximum number of slot any agent has.

[2021-12-16 04:58] hkang1 commented on #3318
We'll take care of this @QimaoYang @vishnu2kmohan. I'll sync up with @stoksc to resolve this.

[2021-12-17 11:31] DeriZSY opened #3337 "tasks keep pending"
Hi, I met a problem of pending tasks when trying to execute some shell commands like `det cmd run nvidia-smi` or when try to open a JupyterNote book through the Web UI.

I can see the tasks on the Web UI and logs like:
[code]
however, the tasks kept pending and waiting for scheduling.

I noticed the issue here and tried to update network settings as suggested which doesn't help: https://github.com

[2021-12-17 11:41] DeriZSY commented on #3337
Also notice like related to network
[code]

[2021-12-17 11:44] DeriZSY commented on #1743
Hi, would you mind mentioning how did you make it work? Met a similar problem as mentioned here

[2021-12-17 11:56] DeriZSY commented on #3337
The firewall on my master device has always been inactivated. So it may not be a firewall problem as mentioned in https://github.com/determined-ai/determined/issues/1743

[2021-12-17 14:56] DeriZSY commented on #3337
Problem solved. In my case, this may due to incorrect setup between agent and masters

[2021-12-17 14:56] #3337 closed

[2021-12-17 15:00] DeriZSY opened #3338 "Advanced user management setting to limit the runtime/priority/resource pool for users"
Hi, I've read through the documents and seems like the only thing admin can do is to activate/deactivate other users.

I'm wondering how can the admin of the system limit the performance of other users? For example, limit resources used or the priority of tasks created by certain groups of users?

I also found that anyone can kill the tasks executed by some others on the Web UI which seems quite u

[2021-12-17 18:52] hamidzr opened #3340 "unexpected scheduling order from priority scheduler"
It looks like there is an unexpected behavior in the priority scheduler. It seems present going back at least to 0.17.4

[code]

if the jobs all used different priorities then they behave correctly. the issue could be with the time-based scheduling logic.

https://determined-community.slack.com/files/U02628E2REG/F02R7FCL9T5/screencast-2021-12-17_10.33.10.mkv
https://determined-community.slack.com/

[2021-12-21 13:06] tshu-w opened #3358 "What is the best practice for binding context directories when the .git in the project directory exceeds 100M?"
Is there any way exclude some folder?

https://docs.determined.ai/latest/features/commands-and-shells.html?highlight=context#context-directories

[2021-12-21 15:39] vishnu2kmohan commented on #3358
By default we _should_ be [ignoring](https://github.com/determined-ai/determined/blob/0.17.5/harness/determined/common/constants.py#L56) `.git` and few other common directories, the list of which can be extended by [creating](https://docs.determined.ai/latest/training-apis/trial-api.html?highlight=detignore#create-an-experiment-via-the-cli) a `.detignore` file in the base (of your context) directo

[2021-12-22 00:57] tshu-w commented on #3358
@vishnu2kmohan Hi, Thank you for quick reply. I haven't tried directly, just saw the documentation [here](https://docs.determined.ai/latest/features/commands-and-shells.html?highlight=context#context-directories) with a little doubt. If this is not just a feature of the Trial API, it shouldn't be mentioned somewhere more easy to find.

[2021-12-22 00:57] #3358 closed

[2021-12-22 01:42] loriqing opened #3370 "How to get the userid, taskid and gpuid?"
Hello, I want to know the names and ids of tasks created by users, and want to know which GPUs these tasks are running on. But I don't know how to get this data.

[2021-12-22 02:48] vishnu2kmohan commented on #3370
Hi @loriqing does the output of `det slot` and `det agent` help?

[2021-12-22 06:39] DeriZSY commented on #3338
Thanks for the reply! The advanced resource management features you mentioned (time and user limits, quotas ...) are just what we've been looking for. And I'd like to pay for that for sure. I will take a look at the link you've provided.

[2021-12-22 06:39] #3338 closed

[2021-12-23 01:33] loriqing commented on #3370
I can get the agent ID, Allocation ID, Task Name by using `det slot` and `det agent`. And how to know the username? If two users use the same task name, I want to distinguish between them.

[2021-12-28 20:57] hamidzr opened #3372 "bug in 0.17.5 where the launching notebooks from the webui"
reported [here](https://determined-community.slack.com/archives/C025A98H82X/p1640288254091900) by @rb-determined-ai

Looks like there's a bug in 0.17.5 where the launching notebooks from the webui with "edit full config" seems to POST a notebook with a config of {"resources":{}} regardless of what you put into the modal.  Filed a ticket: https://determinedai.atlassian.net/browse/DET-6367

[2022-01-04 06:22] loriqing commented on #3370
try `det cmd list -a` can get these information

[2022-01-04 06:23] #3370 closed

[2022-01-04 17:58] #3072 closed

[2022-01-04 17:58] #3041 closed

[2022-01-04 17:58] #3040 closed

[2022-01-04 17:58] #3064 closed

[2022-01-04 17:58] #3228 closed

[2022-01-04 18:13] #3372 closed

[2022-01-04 19:54] hamidzr opened #3382 "feat: support streaming APIs in generate python clii code"

[2022-01-05 23:21] #2835 closed

[2022-01-06 00:05] hamidzr commented on #2835
@ioga  https://github.com/determined-ai/determined/pull/3361 addresses this issue as well. lmk if you think we should do more.

[2022-01-06 18:00] hamidzr opened #3389 "forked experiments through the ui don't carry username"
I ran into a bug that was surfaced since webui moved to using the new create experiment endpoint triggered by the  fork experiment workflow.
I modified the old created experiment endpoint a while back but forgot to modify it for the new api
we also have parameters that are missing/diverged from the new API:
template, git_*, archived (why do we want archived at experiment submission time?)
we're go

[2022-01-06 18:03] hamidzr opened #3390 "some experiment updates don't update the in-memory representation"
eg experiment name.
jobs endpoints pull their info from memory and this creates and inconsistency.

[2022-01-07 00:26] #3389 closed

[2022-01-10 07:48] DeriZSY commented on #3338
Hey, I'm wondering where can I find detailed information about the commercially supported version of Determined.ai? It hard to navigate it directly from the main website here: https://www.hpe.com/us/en/compute/hpc/cray-ai-development.html

[2022-01-10 16:34] vishnu2kmohan commented on #3338
Hi @DeriZSY would you like to be put in touch with our sales team to explore the commercially supported version?

cc @hoang-determined-ai

[2022-01-10 18:44] hkang1 commented on #3318
Closing this as this [PR](https://github.com/determined-ai/determined/pull/3342) should have resolved this.

[2022-01-10 18:45] hkang1 commented on #2941
PR landed

[2022-01-10 18:45] #2941 closed

[2022-01-10 18:56] hkang1 opened #3412 "Omnibar doesn't work well with edited commands"
To reproduce:

- open omnibar
- type: "goto ex"
- down arrow to select "goto experiments"
- hit backspace to show "goto experiment"
- add a valid experiment id (ie: "goto experiment 26")
- hit enter

Problem: does not go to experiment 26 page

[2022-01-11 17:22] #3390 closed

[2022-01-11 20:10] hkang1 opened #3419 "Update cluster endpoint for Kubernetes clusters"
- add a new field `numSlots` that returns the total number of slots across all nodes
- update `numAgents` (already exists) from a hard coded `1` to actual number of nodes

***Related observation below maybe resolved if the above task is complete.***

For kubernetes cluster...

When calling `/api/v1/resource-pools` the pool object returns `numAgents` of `1`, but `/api/v1/agents` will be an empty ar

[2022-01-11 20:11] hkang1 opened #3420 "Resource pool configuration for pool card permutations"
body of work to figure out all of the possible resource pool card variations

[2022-01-11 20:12] hkang1 opened #3421 "Compute Slot Allocation"

[2022-01-11 20:13] hkang1 opened #3422 ""Compute Slot Allocation" over time chart discovery work"
Discovery work to see what backend changes are necessary to support the WebUI slot allocation chart.

Note: The historical usage endpoints might overlap and be sufficient to use to hydrate the chart already.

[2022-01-11 20:15] hkang1 opened #3423 "Frame out new cluster page for the new layout"
- migrate master logs over to this as one of the tabs
- [TBD] migrate job queue over as the Activity tab

[2022-01-11 23:11] hamidzr opened #3424 "experiment progress is not restored on restore"
just the numerical representation of it in memory until it's allcoated

[2022-01-13 19:05] hamidzr opened #3444 "webui test issue with sign in. username input not found"
https://determined-community.slack.com/archives/C025A98H82X/p1642000525012800

https://app.circleci.com/pipelines/github/determined-ai/determined/18114/workflows/7d209555-aafd-4abc-a7be-066c93b8492e/jobs/556400

[2022-01-13 22:00] hamidzr opened #3447 "test runner shuts down on auth test failure"
https://github.com/determined-ai/determined/issues/3444

[2022-01-14 00:11] #3447 closed

[2022-01-18 20:41] hamidzr opened #3457 "pr preview server not found"
https://determined-community.slack.com/archives/C025A98H82X/p1641331191099700

[2022-01-18 20:42] hamidzr commented on #3444
@hkang1 landed a fix for this. Is that holding up well?

[2022-01-18 20:52] hamidzr opened #3458 "job adjustment for commands on k8"
prevent users from modifying ~in progress~ any non recoverable/ respawnable NtbCS in k8

[2022-01-18 22:25] hamidzr commented on #3457
we need a domain and SSL cert for this to work. or to set up our cl to spin up the preview cluster with ssl enabled.

[2022-01-18 22:36] hamidzr commented on #3457
looks like chrome wouldn't break the experience if there are no valid certs so we're mostly good without a cert

[2022-01-19 01:08] hkang1 commented on #3444
Hard to tell at this point. I took a look at some stats on the circleci app and I don't see much of sign in tests failing but still a bit early to tell IMO

[2022-01-19 20:41] #3457 closed

[2022-01-20 20:14] EmilyBonar opened #3477 "'Kill all table rows' webui e2e test in 'Kill all experiments' step in 'Clean Up' spec times out when additional table columns are added"
The webui-e2e test times out on CircleCI at the step listed in the title but passes locally.

[2022-01-21 17:27] hamidzr commented on #3042
closed with https://github.com/determined-ai/determined/issues/3151

[2022-01-21 17:27] #3042 closed

[2022-01-21 17:27] hamidzr commented on #3340
closed in https://github.com/determined-ai/determined/pull/3428

[2022-01-21 17:27] #3340 closed

[2022-01-21 21:36] hamidzr commented on #3477
https://github.com/determined-ai/determined/pull/3480/checks?check_run_id=4901512514

more examples of this happening https://app.circleci.com/pipelines/github/determined-ai/determined/18404/workflows/5d70c3b8-b14a-44d8-8826-2ff8d31ebdec/jobs/566595

[2022-01-21 21:37] hamidzr commented on #3477
[code]

[2022-01-21 21:37] hamidzr commented on #3477
@EmilyBonar could you please write down what we tried and observed?

[2022-01-21 22:34] EmilyBonar commented on #3477
We noticed that the following step timed out on CircleCI but not locally.
[code]
When I added console.log commands before and after every step, it seemed that the specific line of code that was stalling was the first one (`await t.click(BATCH_ACTION_TEXT);`). We tried using Taiko to wait for the `BATCH_ACTION_TEXT` element to exist, be visible, and not be disabled. This had no effect. We tried add

[2022-01-24 12:45] Borda opened #3485 "integrate with Lightning ecosystem CI"
Hello and so happy to see you use Pytorch-Lightning! :tada:
Just wondering if you already heard about quite the new **Pytorch Lightning (PL) ecosystem CI** where we would like to invite you to... You can check out our blog post about it: [Stay Ahead of Breaking Changes with the New Lightning Ecosystem CI](https://devblog.pytorchlightning.ai/stay-ahead-of-breaking-changes-with-the-new-lightning-eco

[2022-01-24 21:32] hamidzr opened #3488 "webui fine-grained queue adjustment"

[2022-01-24 21:51] mackrorysd commented on #3485
@Borda Is the goal to avoid incompatibilities in PyTorch Lightning releases, or only provide earlier warning of them? For instance, if a test started failing, would that be considered a release-blocker for PyTorch Lightning by default? Or would it only serve as a notice that the next release would be incompatible in a breaking way?

[2022-01-24 21:59] Borda commented on #3485
it s a very good question and I think it is case by case, so if it'll be something critical that many users use we may consider reverting this change even before release... if it is just something like a project is accessing a protected method which is not meant to be exposed to user I think it ll be just warning... :rabbit:

[2022-01-27 17:57] #3444 closed

[2022-01-27 18:07] hamidzr opened #3506 "error handler ignores given options for DetError"
seems to have been a general (mis?)behavior that options were ignored if handleError was given a `DetError`.
https://github.com/determined-ai/determined/pull/3482/files?show-viewed-files=true&file-filters%5B%5D=#diff-d9f0e766381f1dcac1cff71d8c003155c3e8a259c9f5694d606a1d0820fa3192L105

https://github.com/determined-ai/determined/pull/3482/files?show-viewed-files=true&file-filters%5B%5D=#diff-d9f0e

[2022-01-27 18:08] hamidzr opened #3507 "manage job presents options for modifying commands on k8"
Just a heads up, @Sean Mackrory found an issue today in the release party. The original problem is that we are unable to support priority changing for command tasks in k8s without command fault tolerance, so we’ve disabled it in the backend. However, you still have the option to set it in the webui (even though it does nothing).

https://determinedai.atlassian.net/browse/DET-6605
https://determine

[2022-01-27 19:00] #3506 closed

[2022-01-27 19:00] #3507 closed

[2022-01-27 21:19] hamidzr opened #3510 "experiment restore doesn't restore progress (in memory)"

[2022-01-28 01:03] #3189 closed

[2022-01-29 00:57] drozzy opened #3524 "Ability to run experiment without inheriting from PyTorchTrial?"
If I have an existing implementation of my model, could I just run it on determined servers without instrumenting it with determined code?

I guess also what is your general advice on working with local and distributed environments.
If I just want to test out the code locally - without any determined instrumentation vs. running it on a cluster.
Do you have any examples like these?

After look at t

[2022-01-29 01:53] #3151 closed

[2022-01-29 01:53] hamidzr commented on #3151
this is addressed

[2022-01-30 20:19] drozzy opened #3526 "'TrainerOptimizersMixin' object has no attribute 'lightning_module'"
I have existing code in pytorch-lightning, and when I try to wrap it with determined, I get this error.
Versions are:
- `pytorch-lightning==1.5.9`
- `determined==0.16.5`

Additionally, it would be nice if determined ignore the `test_step` method in my lightning module, instead of erroring-out.

[code]

[2022-01-30 20:19] #3524 closed

[2022-02-01 15:09] drozzy commented on #3526
Nevermind, I abandoned the idea of integrating pytorch-lightning.

[2022-02-01 15:09] #3526 closed

[2022-02-01 15:11] drozzy opened #3536 "Image global counter in evaluate_batch?"
What index/step/count should I use when plotting images to the tensorboard in validation `evaluate_batch` function?

Is there a way to access some global batch number during evaluate_batch?
Additionally, I would like to plot images only on the first batch of validation dataset. Is that not possible?

Thank you.

[2022-02-01 21:17] #1585 closed

[2022-02-03 04:19] rb-determined-ai commented on #3536
Sorry @drozzy we didn't see this message a bit earlier.

I'm guessing you are using the PyTorchTrial API?  As far as I know that is the only `evaluate_batch()` we have, and it comes with a [batch_idx parameter](https://docs.determined.ai/latest/training-apis/api-pytorch-reference.html#determined.pytorch.PyTorchTrial.evaluate_batch).  Is that not what you are looking for?

[2022-02-03 16:28] drozzy commented on #3536
I looks like `batch_idx` resets to 0 every time evaluate_batch is run. Whereas I would like to plot labels on validation set throughout the training process.

[2022-02-04 13:01] rb-determined-ai commented on #3536
Ah.  Why not save the `batch_idx` you get in `train_step` as `self.last_train_step`?  You could then read it in `evaluate_batch()`.

[2022-02-04 13:08] rb-determined-ai commented on #3536
Sounds to me like you'll also want a `self.latest_image` flag, and something like this:

[code]

[2022-02-04 13:13] rb-determined-ai commented on #3485
We'll consider this with the team.

[2022-02-04 13:13] #3485 closed

[2022-02-04 13:35] rb-determined-ai commented on #3176
This function was re-written a couple weeks before this ticket, and this failure is not possible anymore.

If the user passes a non-class as the entrypoint, it first checks if `istype(entrypoint_obj, type)` before checking `issubclass(entrypoint_obj, det.Trial)`.

[2022-02-04 13:35] #3176 closed

[2022-02-04 22:04] hamidzr commented on #3423
tracked in Jira

[2022-02-04 22:04] #3423 closed

[2022-02-04 22:05] #3477 closed

[2022-02-04 22:05] hamidzr commented on #3477
we're moving away from webui e2e tests

[2022-02-04 22:07] hamidzr commented on #3422
https://determinedai.atlassian.net/browse/DET-6418

[2022-02-04 22:07] #3422 closed

[2022-02-04 22:09] hamidzr commented on #3420
https://determinedai.atlassian.net/browse/DET-6419

[2022-02-04 22:09] #3420 closed

[2022-02-04 22:57] #3263 closed

[2022-02-04 22:57] hamidzr commented on #3419
https://determinedai.atlassian.net/browse/DET-6411?jql=text%20~%20%22cluster%20kubernetes%22

[2022-02-04 22:57] #3419 closed

[2022-02-05 00:53] eecsliu opened #3574 "fix bug where jobs preempt on priority, but not queue position"

[2022-02-05 19:55] drozzy commented on #3536
Thanks, this is what I ended up doing. Just thought maybe there was a more "official" way.

Do I actually need to check for `rank=0`? What I did was check that `batch_idx` in evaluate_batch was equal to 0.
Could there be a scenario where in distributed setting, both rank=0 and rank=1 workers get a batch_idx=0 in evaluate_batch?

[2022-02-07 12:10] eecsliu opened #3576 "implement* adjustPositions"

[2022-02-07 20:07] hamidzr commented on #3424
duplicate of https://github.com/determined-ai/determined/issues/3510

[2022-02-07 20:07] #3424 closed

[2022-02-07 21:06] hamidzr opened #3581 "bug: webui adjusting job on fairshare"
position Nan error. (recently added)

[2022-02-08 19:03] #3581 closed

[2022-02-08 22:21] rb-determined-ai commented on #3536
I'm pretty sure this is the case every time, but maybe run a distributed training experiment and and print `batch_idx` every batch to see if I'm just crazy.

[2022-02-11 11:12] mathrb opened #3610 "Experiment fails: Illegal instruction"
Hello,

I'm testing determined to check if it suits our needs. First impression is really good as it checks most of our feature requirement.
I deployed a master on one machine, along with an agent. Each attempt to deploy an experiment to this agent fails with:
`Fatal Python error: Illegal instruction`
This server's configuration is:
` cpu0 (Intel(R) Xeon(R) CPU           X5675  @ 3.07GHz x 24 core

[2022-02-11 21:45] ioga commented on #3610
Hello,

Your server CPU `Intel(R) Xeon(R) CPU X5675` is quite old and doesn't support AVX instruction set. it's Westmere arch from ~2010, and Intel started to include AVX in Sandy Bridge in ~2011. Default Tensorflow builds require AVX, and so they hit this "illegal instruction" error. Your other CPU `Intel(R) Core(TM) i7-1185G7` is recent and so it works fine.

- If you don't need tensorflow, you

[2022-02-16 22:28] #3610 closed

[2022-02-17 16:52] rb-determined-ai commented on #3536
closing due to inactivity

[2022-02-17 16:52] #3536 closed

[2022-02-19 15:40] Cccanvas opened #3638 ""ConnectionError: Timed out connecting to master""
Hi Determined team! I'm installing determined on my local machine using `det deploy local cluster-up`. I get `Waiting for master instance to be available...` before timing out.
When I run docker ps, I see determined-master and postgres are running, but I cannot connect to localhost:8080. I'm running determined v0.17.9, Docker v19.03.11, and CentOS 7.
Any ideas on how to debug this? Thanks!

Here i

[2022-02-23 17:08] mathrb opened #3651 "Register checkpoint issue"
Hello

I'm having trouble registering a checkpoint into the model registry.
When registering the checkpoint from the experiment view, I got a HTTP 400 error:

[code]

here is the request body

[code]

and here is the endpoint: `http://192.168.55.150:8080/api/v1/models/1/versions`

Any idea why I get this error?

Kind regards

[2022-02-24 14:04] sagostinho-argo opened #3660 "Unable to use IteratorDatasets"
Hey everyone. I'm currently trying to use a PyTorch iterator dataset, where I'm responsible for handling sharding, shuffling, etc...

According to the source code
https://github.com/determined-ai/determined/blob/f3f15e8dcd4de1f745b762f2edba5b2568416d59/harness/determined/pytorch/_data.py#L105-L108

and respective docs
https://docs.determined.ai/0.17.2/training-apis/api-pytorch-samplers.html

this

[2022-02-25 20:11] rb-determined-ai commented on #3660
I'm glad you are taking this feature for a spin!  (full disclosure: I wrote it)

We don't catch `StopIteration` because our training loop requires that your training iterator is infinite.  That should be covered in the sampler docs.  We could definitely detect the StopIteration and raise a better error to explain that.

Also, do you have other feedback on the docs or the feature?

[2022-02-25 20:14] rb-determined-ai commented on #3638
Hi @Cccanvas!  Sorry we missed this issue and didn't respond sooner.  We are happy to help you debug here but I can tell you with 100% confidence that we are better at responding to support requests in our slack #support channel.  If you would like to continue there, [here is a link to sign up](https://join.slack.com/t/determined-community/shared_invite/zt-cnj7802v-KcVbaUrIzQOwmkmY7gP0Ew).

[2022-02-25 20:32] rb-determined-ai commented on #3651
Hi @mathrb!  Sorry we missed this issue and didn't respond sooner.  We're usually more responsive in our slack #support channel.  [Here is a link to sign up](https://join.slack.com/t/determined-community/shared_invite/zt-cnj7802v-KcVbaUrIzQOwmkmY7gP0Ew).

The message says it can't unmarshal a number into a string, and since the only number you have is `"modelName":1` I would guess you just need to

[2022-02-25 20:34] rb-determined-ai commented on #3638
Ok, on this particular issue, I see:
[code]
Which means that the master is definitely waiting.

I would guess it's one of:
- a docker configuration problem. You can share the (sanitized) output of `docker inspect determined_master` if you would like.
- an issue with our ip address auto-guessing logic.  You can share the output of `ip route get 8.8.8.8` and we can check on it.
- a firewall problem

[2022-02-25 20:36] mathrb commented on #3651
Hello,
Actually I'm getting this error via the web UI. I saw the error in the network tab of the web developer tools (Firefox)

[2022-02-25 20:45] rb-determined-ai commented on #3651
Oh, interesting!  I'll share this with our webui team in that case.

[2022-02-25 20:56] mapmeld commented on #3651
Hi @mathrb ! Thanks for reporting this issue. This was fixed in the most recent release (0.17.9).
If you want to fix this locally without updating, the relevant one-line change is #3528

[2022-02-25 23:51] sagostinho-argo commented on #3660
Thank you for chiming in.

I clearly missed this. The concept of "repeating" applied to a dataset is tensorflow specific, so coming from a pytorch background, I just assumed it was some sampler specific operation.  I didn't catch the intended meaning. I'll dig through the docs again keeping in mind this new info.

I personally only assumed that an iterator's dataset only restriction was that it di

[2022-02-25 23:51] #3660 closed

[2022-02-28 14:40] #3651 closed

[2022-03-01 17:27] rb-determined-ai opened #3674 "testing github/slack integration"
test issue

[2022-03-01 17:27] rb-determined-ai commented on #3674
comment

[2022-03-01 17:27] #3674 closed

[2022-03-02 17:35] rb-determined-ai commented on #3660
I would not say this is common to assume, I would say it is a quirk of our PyTorchTrial training loop.  I think the more intuitive behavior is, as you say, to allow the dataset to end and iterate on a new epoch.  This is actually fairly tricky in distributed training because at the end of a dataset, all the workers have to coordinate who is still training, and then the distributed training framewo

[2022-03-03 17:37] eecsliu opened #3692 "cli supporting batch operations"

[2022-03-04 19:24] rb-determined-ai commented on #3638
closing due to inactivity

[2022-03-04 19:24] #3638 closed

[2022-03-06 07:26] drozzy opened #3697 "Unauthorized"
Running `0.17.10` of determined cli, trying to follow local docker install:
https://docs.determined.ai/latest/getting-started.html

When I login with `det user login admin` - it seems to go ok.
But when I try to issue `det slot` command - it asks me for password again, and then says `Failed to list slots in cluster: Unauthorized`.

I'm using mac m1 machine with docker desktop 4.4.2 (73305), Engine

[2022-03-06 20:34] vishnu2kmohan commented on #3697
Hi @drozzy I'm currently unable to reproduce this issue on 0.17.10 (albeit, I'm on a Linux machine without a GPU - i.e., `det deploy local cluster-up --no-gpu`):
[code]

Would you please share the output of `det -v`, `det user whoami` (after you login as `admin`), and `det master logs > master-log.txt` when `det s` fails with `Unauthorized`?

[2022-03-08 20:59] rb-determined-ai commented on #3082
[Better late than never](https://github.com/determined-ai/determined/pull/3643), right?

@harpone Sorry for the delay on this, it is a pretty reasonable request.  It should be available in 0.17.11.

[2022-03-08 20:59] #3082 closed

[2022-03-14 21:50] rb-determined-ai commented on #3697
closing due to inactivity

[2022-03-14 21:50] #3697 closed

[2022-03-15 18:48] #2843 closed

[2022-03-16 14:24] nnevatie opened #3739 "Add an ETA (training time left) column to Web UI Experiments view"
This could be a rough estimate based on the `Duration `and `Progress `properties.

[2022-03-18 12:59] DmitryKey opened #3750 "Task logs persist on backend, but disappear from the UI dashboard after 2 days"
I’ve upgraded the cluster to 0.17.10 and our team ran a task. The logs persisted for 2 days, but then disappeared from the UI.

However, I kept a browser tab opened with one of the task logs — and the file is physically still there and can be viewed via the determined's UI. Can it be that the UI logic needs a separate fix for this?

Suggested workaround from @stoksc:

Right now just the logs are p

[2022-03-19 02:53] sijin-dm opened #3761 "Delete task by another user, it work"
When I create a task by user A, then login with user B. When B click on the `Kill` button to the task created by A, the task is terminated!
Is this a expected behavior or a bug in RBAC?

[2022-03-19 06:44] rb-determined-ai commented on #3761
Hi @sijin-dm, this is not a "bug in RBAC", this is "we don't really have RBAC at all".  Not yet anyway, we have plans to work on it.  We know it is a missing feature.

[2022-03-19 06:53] sijin-dm commented on #3761
Got it. Thanks for your reply.

[2022-03-19 06:53] #3761 closed

[2022-03-19 07:11] sijin-dm opened #3762 "Restart determined master, task tracking log disappear."
Hi there,
I restart the determined server only, but the `cmd` history is disappeared. The postgres docker is not restarted. The user list is still remained. I am curious about what is versioning in determined master and where will they save. From the current phenomenon, I guess the user management table is saved in postgres, and `checkpoint` is saved in the given `checkpoint_storage` location. Wha

[2022-03-21 13:46] rb-determined-ai commented on #3739
I'll bring this request up with the team.

[2022-03-21 13:46] rb-determined-ai commented on #3750
I'll bring this request up with the team.

[2022-03-21 15:18] rb-determined-ai commented on #2926
Better [late](https://github.com/determined-ai/determined/pull/3764) than never, right?

Sorry for the slow response on this one, @fe

[2022-03-21 15:23] rb-determined-ai commented on #3184
@varlogtim did we finish this work for gcs too?

[2022-03-21 15:49] varlogtim commented on #3184
Hrmm.... It looks like I never actually did this for GCS. @rb-determined-ai  I can add this feature in the next week or two, unless someone else wants to take this as a easy add?

[2022-03-22 13:46] #2926 closed

[2022-03-29 08:49] tshu-w opened #3819 "det cmd exits on scheduling, if DET_MASTER is set to the domain name."
Hi, I'm trying to use nginx to forward to DET_MASTER, everything works fine except det cmd exits on scheduling, if DET_MASTER is set to the domain name. Could you provide a demo config of nginx?

As shown in the screenshots, the command quit even if the task is still pending.

<img width="891" alt="Lark20220329-164853" src="https://user-images.githubusercontent.com/13161779/160572512-c9d77275-50f9

[2022-03-29 09:15] sijin-dm opened #3820 "Jupyterlab can see all the gpu when slot=0"
Hi there,
I set slot to 0 when I start jupyterlab. However, I can see all the gpu there! Even though the avaibable gpu number does not change on dashboard and inside the cluster.

[2022-03-29 14:43] neilconway commented on #3820
@sijin-dm Can you confirm how you started Jupyterlab? e.g., was it via the CLI or the WebUI? If via the CLI, can you provide the exact command-line that you used?

[2022-03-29 14:48] sijin-dm commented on #3820
I start it via webui:
![image](https://user-images.githubusercontent.com/61957607/160639140-0fb97f15-9114-4b8f-ae63-adf6530c771b.png)

[2022-03-29 15:05] rb-determined-ai commented on #3820
Which version of Determined are you running with?

[2022-03-29 15:12] rb-determined-ai commented on #3819
Can you share the logs without the nohup?  Like:
[code]

[2022-03-29 15:20] sijin-dm commented on #3820
0.17.11

[2022-03-30 01:59] tshu-w commented on #3819
Let me re-explain this issue.

I have a Det Master on `124.16.138.147:8080` and use a nginx redirect `det.domain.name` to the real server through ` proxy_pass`

When `DET_MASTER="http://det.domain.name"`, I run a c `det cmd run --config-file configs/det.yaml -c . ls`, the `det` command quit after sometimes even the task is still scheduling. When `DET_MASTER="124.16.138.147:8080"`, the `det` keep u

[2022-03-30 02:25] tshu-w commented on #3819
If seems like add proxy_timeout solve this issue.
[code]

[2022-03-30 02:25] #3819 closed

[2022-03-30 17:10] eecsliu commented on #3820
Hi @sijin-dm, can you show us the output of `kubectl describe pod` on the jupyterlab pod?

[2022-04-01 07:57] DmitryKey commented on #3750
Thanks Ryan!

[2022-04-01 17:26] eecsliu commented on #3820
Hmmm this is interesting because in both Determined and the kubernetes cluster, the resource request is gpu = 0. Can you check the environment variables inside the notebook? I'm interested in the value of `DET_SLOT_IDS`.

[2022-04-02 01:16] sijin-dm commented on #3820
`DET_SLOT_IDS` is empty.
![image](https://user-images.githubusercontent.com/61957607/161359369-8616ecca-54d3-4fb0-af8b-2bc0c8f7580e.png)
And I did not set the `defaultScheduler` in `values.yaml`, just use the default one.

[2022-04-04 23:10] eecsliu commented on #3820
It doesn't look to me that Determined is doing anything weird here - the resource requests and the internal environment vars look correct.

Can you try the following:
- create a simple kubernetes pod that just sleeps so you can `kubectl exec` inside to probe if necessary
- try different resource requests (`nvidia.com/gpu:0` or `nvidia.com/gpu:1`)
- see how it affects visible GPUs in the determined

[2022-04-05 10:09] heexu976 opened #3857 "use Vacode"

[2022-04-05 10:10] heexu976 commented on #3857
[18:09:50.013] Log Level: 2
[18:09:50.014] remote-ssh@0.78.0
[18:09:50.015] darwin arm64
[18:09:50.018] SSH Resolver called for "ssh-remote+b2191131-08d5-4e00-a3de-7a07e7379c4e", attempt 1
[18:09:50.018] "remote.SSH.useLocalServer": true
[18:09:50.018] "remote.SSH.path": undefined
[18:09:50.019] "remote.SSH.configFile": undefined
[18:09:50.019] "remote.SSH.useFlock": true
[18:09:50.019] "remote.SS

[2022-04-05 14:28] mapmeld commented on #3857
If you have the error `No module named 'determined'` , did `pip install determined` complete successfully? Are you currently in the virtual environment recommended in the install steps?

Reference: https://github.com/determined-ai/determined#try-out-determined-locally

[2022-04-05 15:54] ioga commented on #3857
Hello,

is `/Applications/Xcode.app/Contents/Developer/usr/bin/python3` the python environment you've used to install determined? If not, try switching the python interpreter in VSCode to the correct one.

[2022-04-07 03:41] sijin-dm commented on #3820
1. When I set `nvidia.com/gpu:1` in the simple pod, the visible GPUs in the determined cluster does not change. Is this expected?
2. When I set `nvidia.com/gpu:0`, this pod can access all the gpus...... So this is not the problem for determined, but k8s?

[2022-04-07 16:54] linprophet opened #3877 "support set 'None' as slot"
Hi there,
since the GPU resource is limited, we want all the docker containers can access all GPU devices. Therefore, can provide a method to ignore the resource management that neither set GPU as a slot nor set CPU as a slot?

[2022-04-08 09:00] heexu976 opened #3884 "Can you write a shell script to automatically scan all GPUs on a regular basis and kill the container when the GPU is idle for a day"

[2022-04-09 01:10] ioga commented on #3884
hello, we have an option to automatically terminate idle notebooks and tensorboards. see `idle_timeout` and `notebook_idle_type` here: https://docs.determined.ai/latest/features/command-notebook-config.html?highlight=idle%20timeout#configuration-settings

is this what you're looking for? if not, can you please elaborate what the problem is?

[2022-04-09 08:25] heexu976 commented on #3857
In fact, determined is deployed in a remote Ubuntu server. I want to use vscode remote SSH to connect to the determined container through my Mac

[2022-04-09 08:25] heexu976 commented on #3857
In fact, determined is deployed in a remote Ubuntu server. I want to use vscode remote SSH to connect to the determined container through my Mac

[2022-04-09 08:27] heexu976 commented on #3857
https://github.com/determined-ai/determined/issues/3857#issuecomment-1088779885

[2022-04-09 08:27] heexu976 commented on #3857
In fact, determined is deployed in a remote Ubuntu server. I want to use vscode remote SSH to connect to the determined container through my Mac

[2022-04-09 08:27] heexu976 commented on #3857
In fact, determined is deployed in a remote Ubuntu server. I want to use vscode remote SSH to connect to the determined container through my Mac

[2022-04-09 15:40] ioga commented on #3857
you need to have the determined python package (the client) installed locally to run the tunnel for the remote ssh.

[2022-04-12 10:07] jear opened #3887 "kuberntes notebook behind proxy"
Hi,
Altough I can launch experiments using:
[code]
For notebooks, it is not working:
[code]
I haven't found anything in the doc related to determined notebooks in k8s behind proxy .
Did i miss something ?

Thanks!
Jear

[2022-04-12 20:26] eecsliu commented on #3820
Yes, if this is the case for the simple pod, then it seems like something is preventing kubernetes from account the nvidia gpu requirement. How did you install the nvidia driver on your cluster?

[2022-04-13 03:23] sijin-dm commented on #3820
We use gpu-operator to manage the nvidia driver.

[2022-04-15 18:53] hamidzr commented on #3488
addressed.

[2022-04-15 18:53] #3488 closed

[2022-04-15 18:53] hamidzr commented on #3510
done

[2022-04-15 18:53] #3510 closed

[2022-04-15 18:55] hamidzr commented on #2919
moved to jira

[2022-04-15 18:55] #2919 closed

[2022-04-15 18:55] hamidzr commented on #3458
done

[2022-04-15 18:55] #3458 closed

[2022-04-15 18:56] hamidzr commented on #2637
tracked internally in Jira

[2022-04-15 18:56] #2637 closed

[2022-04-15 18:58] #3382 closed

[2022-04-15 19:12] #3092 closed

[2022-04-15 19:12] #3100 closed

[2022-04-15 19:12] #3237 closed

[2022-04-15 19:12] #3576 closed

[2022-04-15 19:12] #3692 closed

[2022-04-15 19:13] ioga commented on #3762
Currently, experiments is the only task type that persists on master restarts. Notebooks-tensorboards-commands do not, but persisting them is on the roadmap.

Sorry for the delay.

[2022-04-15 19:13] #3762 closed

[2022-04-15 19:14] #3068 closed

[2022-04-15 19:14] #3188 closed

[2022-04-15 19:14] #3190 closed

[2022-04-15 19:14] #3574 closed

[2022-04-15 19:16] #3412 closed

[2022-04-15 19:17] #3421 closed

[2022-04-15 19:31] ioga commented on #3887
hello,
- are you using the same environment image for notebooks as for the experiments?
- which determined version are you running?
- do commands or shells work?

ideally we shouldn't be installing extra dependencies at runtime if the environment image and determined version you're running "match".

[2022-04-18 20:55] jear commented on #3887
Hello,
I am using the same environment for both.
Helm chart
[code]

For lauchiong experiments from the Quickstart (mnist pytorch const.yaml, distributed.yaml, adaptive.yaml), I am using determined-cli.

[2022-04-19 18:51] eecsliu commented on #3820
Hmmm the gpu-operator should be fine... Are you running on a cloud solution or an on-premise cluster? There are a couple of alternatives to the operator you can try. It may depend on your platform, but there is the [GCP daemonset](https://raw.githubusercontent.com/GoogleCloudPlatform/container-engine-accelerators/master/nvidia-driver-installer/cos/daemonset-preloaded.yaml) or the [nvidia device pl

[2022-04-20 15:23] BlueskyFR opened #3951 ".detignore does not follow .gitignore syntax"
Hey!
It seems like in the `.gitignore`  syntax, adding `/*` ignores directories whereas in Determined's `.detignore`, `/*/` should also be added to ignore them.
It think it is due to these two lines -> https://cs.github.com/determined-ai/determined/blob/bb4050fe6f5a02385c78bc5eb79f7110523531af/harness/determined/common/context.py#L142-L143
However, as per git's gitignore doc:

Determined's documen

[2022-04-21 04:55] kelvinwang139 opened #3969 "command(det experiment create const.yaml .) run failed"
Hi，
Firstly thanks for your contribution for this project. When I complished the setting up the project and tried to run a training job and the following error happened. could you please provide some clues? Thanks a lot!

(determined) userr@user:~/ai/mnist_pytorch$ det experiment create const.yaml .
Traceback (most recent call last):
  File "/home/cyuser/anaconda3/envs/determined/lib/python3.7/sit

[2022-04-21 06:18] ioga commented on #3969
hello, do you have some kind of http proxy that may be intercepting http requests between your determined cli client and the determined master?

[2022-04-21 06:27] kelvinwang139 commented on #3969
@ioga thanks for your response. The issue has been resolved. The reason is that I change the master port to 9099 because the port conflict. I run the command as "det -m 0.0.0.0:9090 ....." the 9099 is current port setting and then the issue fixed.

Thanks again.

[2022-04-21 06:27] #3969 closed

[2022-04-24 11:56] sijin-dm opened #4001 "A lot of MissingHeaderBodySeparatorDefect warning"
There are a lot of `MissingHeaderBodySeparatorDefect` warningS when we switch checkpoint storage to s3. As you can see in the following snapshot.
![image](https://user-images.githubusercontent.com/61957607/164974989-5d3c307b-466d-4871-af46-d2c5abd2fc57.png)

Even though I have make all my file to be not empty, these warnings are still exsited. At the meantime, using `Info` fillter not work, the ex

[2022-04-25 18:01] ioga commented on #4001
Hello,

We've got a workaround for minio issue here: https://github.com/determined-ai/determined/blob/master/harness/determined/common/storage/s3.py#L63
We know a number of users successfully use minio, not sure why you hit this. Do you have some kind of proxy in front of minio that may be obscuring the `Server` header, by any chance?

While it shouldn't be necessary, minio-py solution will have t

[2022-04-26 05:08] sijin-dm commented on #4001
Actually we use the s3 storage from a thirty-party provider, so the `Server` header does not have `minio`. When we build our own s3 storage with minio, these warnings are disappeared. I think this workaround may not be a general solution. I will try to fix this when I am available.
Moreover, I would be update to 0.17.15 when it is released, thanks for your prompt reply! @ioga

[2022-04-26 05:08] #4001 closed

[2022-04-29 17:18] dannysauer opened #4037 "boolean arg help text is confusing"
The way defaults for boolean CLI parameters are created produces potentially confusing help text.  For example, running `det deploy local cluster-up --help` returns this:
[code]

I suspect that the intent is for a default of "True" to convey that `--gpu` defaults to "specified" from the perspective of the command line, while `--no-gpu` actually defaults to "not specified."  However, things are sli

[2022-04-29 19:18] #4037 closed

[2022-05-02 14:13] rb-determined-ai commented on #3884
closing due to lack of activity.

[2022-05-02 14:13] #3884 closed

[2022-05-02 16:47] jear opened #4042 "'Connection to pypi.org timed out. (connect timeout=15)')': /simple/azure-core/"
Hi,

Any doc related to proxy config  in kubernetes ?

https://gist.github.com/jear/21edfd5141717bb27599e83ec711d422

[2022-05-02 16:49] #4042 closed

[2022-05-02 16:50] jear commented on #4042
environment:
  environment_variables:
    - http_proxy=http://redacted:3128
    - https_proxy=http://redacted:3128
    - ftp_proxy=http://redacted:3128
    - no_proxy=localhost,127.0.0.1,example.com,redacted

[2022-05-03 22:02] schmidt-jake opened #4062 "Deprecation warning from newer versions of PyTorch"
When running a PyTorch trial on the [latest Nvidia Pytorch base image](https://docs.nvidia.com/deeplearning/frameworks/pytorch-release-notes/rel_22-04.html#rel_22-04), the following warning is triggered:

[code]

[2022-05-05 02:04] ce107 opened #4079 "Using determined with podman"
I am trying to install determined on a RHEL8 system with podman (working with the docker compatibility mode):

$ det deploy local cluster-up
/projects/ML/DL/test-determined/lib64/python3.6/site-packages/OpenSSL/crypto.py:8: CryptographyDeprecationWarning: Python 3.6 is no longer supported by the Python core team. Therefore, support for it is deprecated in cryptography and will be removed in a futu

[2022-05-05 02:09] ioga commented on #4079
hello, we only support docker runtime today and we're pretty tightly integrated with it. podman and other alternative runtimes will not work, but we are considering adding support for them in the future.

also I've noticed you're running python 3.6. that may also be a problem, we require 3.7 for the recent versions.

[2022-05-08 03:21] lqf96 opened #4100 "Support flat network topology between master, agents and containers"
# Problem
Per the explanation of https://github.com/determined-ai/determined/issues/906#issuecomment-664494066, Determined assumes no direct connectivity between the master and the container. Instead, exposed container ports are published to agent's external IP address. This causes connectivity problems when I try to [deploy Determined by putting master, agents and containers into the same Swarm o

[2022-05-25 02:00] kelvinwang139 opened #4221 "How to configure local disk volume to map to backend: disk"
Hi,
when I run the model-hub:mmdetection related example, and find the following error:
![image](https://user-images.githubusercontent.com/10773148/170163235-1f85463c-1286-4a12-9f81-1ad34da91038.png)

I think this is no mapping local data set to mmdetection docker(backend = disk), but I can not find the related docker run command to make this mapping or is there configuration could support to it?

[2022-05-25 02:12] ioga commented on #4221
hello, please see the [bind_mounts option](https://docs.determined.ai/latest/training-apis/experiment-config.html#exp-bind-mounts).

[2022-05-25 03:54] kelvinwang139 commented on #4221
Thanks for your nice response. It works.

[2022-05-25 03:54] #4221 closed

[2022-05-25 04:07] kelvinwang139 opened #4222 "Seems the communication issue between determinedai/determined-master:0.18.0 and determinedai/model-hub-mmdetection:0.17.16-dev0?"
Hi,

could you please provide some clues to resolve it? In addition, I see this is just info level log, what does it mean? Could be ignore, or other impacts?

Thanks for your supports in advance!

**<info> [2022-05-25 03:55:35] timeout exceeded: some containers are taking a long time to connect to master; when running on kubernetes this may happen because only some of the pods have been scheduled;

[2022-05-25 04:15] kelvinwang139 commented on #4222
In addition, we don't use the k8s. We use docker directly on ubuntu20.04

[2022-05-25 15:44] kelvinwang139 commented on #4222
Hi,

could you please provide some clues to resolve it? In addition, I see this is just info level log, what does it mean? Could be ignore, or other impacts?

Thanks for your supports in advance!

**<info> [2022-05-25 03:55:35] timeout exceeded: some containers are taking a long time to connect to master; when running on kubernetes this may happen because only some of the pods have been scheduled;

[2022-05-25 15:47] kelvinwang139 opened #4225 "Seems the communication issue between determinedai/determined-master:0.18.0 and determinedai/model-hub-mmdetection:0.17.16-dev0?"
Hi,

could you please provide some clues to resolve it? In addition, I see this is just info level log, what does it mean? Could be ignore, or other impacts?

Thanks for your supports in advance!

**<info> [2022-05-25 03:55:35] timeout exceeded: some containers are taking a long time to connect to master; when running on kubernetes this may happen because only some of the pods have been scheduled;

[2022-05-25 15:49] kelvinwang139 commented on #4222
replaced with https://github.com/determined-ai/determined/issues/4225

[2022-05-25 15:49] #4222 closed

[2022-05-25 15:50] ioga commented on #4225
hello,

1. what happens next after this? does it ever start training, does it fail, does it get stuck forever?
2. does it work in non-distributed mode, i.e. with `slots_per_trial: 1`?
3. do simpler examples such as `mnist_pytorch` work in non-distributed (`slots_per_trial: 1`) and distributed (`slots_per_trial: 2`) modes?

[2022-05-26 01:37] kelvinwang139 commented on #4225
Thanks for your fixed. But how to update with the latest code？ I make the determined by "pip install determined" and the determined version show me with determined 0.18.0.

[2022-05-26 14:11] rb-determined-ai commented on #4225
We have a [contributing guide](https://github.com/determined-ai/determined/blob/master/CONTRIBUTING.md) you can read.

In the case of applying this fix, I recommend simply ignoring the wrong warning until we cut a release with the fix.

[2022-05-27 05:23] fengzf-github opened #4236 "resource-pools 401 Unauthorized In development mode"
Request URL: http://10.6.5.51:8080/api/v1/resource-pools
Request Method: GET
Status Code: 401 Unauthorized
Remote Address: 10.6.5.51:8080
Referrer Policy: strict-origin-when-cross-origin
Content-Length: 79
Content-Type: application/json
Date: Fri, 27 May 2022 04:16:02 GMT
Vary: Origin
X-Content-Type-Options: nosniff
X-Frame-Options: SAMEORIGIN
X-Xss-Protection: 1; mode=block
Accept: */*
Accept-Enc

[2022-05-27 05:40] kelvinwang139 commented on #4225
Thanks. Not sure this is only wrong warning. From logs, there is no furture training logs showing and later the related task will fail or suspend there.

We try to build the latest code and bring up the system in develop mode. But it failed :(. Please refer the new issue:
https://github.com/determined-ai/determined/issues/4236

[2022-05-27 05:43] kelvinwang139 commented on #4225
In addition, is there successful case that run mmdetection as model_hub documented before？What's the detail steps to do that?

[2022-05-27 11:37] rb-determined-ai commented on #4225
Oops, let me re-open the issue.  Sorry about that.

[2022-05-27 11:40] rb-determined-ai commented on #4225
Can you run the experiment with `debug: True` in the experiment config, then share the full logs with us?

Yes, we have [an official example](https://github.com/determined-ai/determined/tree/master/model_hub/examples/mmdetection)

[2022-05-27 19:46] ioga commented on #4236
hello,
1. can you explain a bit how did you get this? did you have to login before getting this?
2. does `det` CLI work against your dev build?
3. does it work in incognito mode?
4. did you use a new database or reused the one from other, non-development installation?

[2022-05-27 23:07] dannysauer opened #4241 "OpenSSH privilege separation directory is not created before exec sshd"
https://github.com/determined-ai/determined/blob/78505d6e60bb49d59571e0f1742ba563f289fa04/harness/determined/launch/horovod.py#L40-L48

Starting with OpenSSH 7.5, the UsePrivilegeSeparation config parameter for sshd was deprecated, making separation mandatory.  There is an explanation of what the directory does [here](https://github.com/openssh/openssh-portable/blob/master/README.privsep), but the

[2022-05-28 01:23] fengzf-github commented on #4236
1.The compilation is successful. The cluster is started for the first time and successfully logged in.
2.Stop the service and delete the database directory.
     rm -rf /root/.postgres/
     rm -rf /tmp/determined determined-cp devcluster

3.Error when starting the service again.

Request URL: http://localhost:8080/api/v1/resource-pools
Request Method: GET
Status Code: 401 Unauthorized
Remote Addr

[2022-05-28 02:15] ioga commented on #4236
Okay, this answers my questions 1 and 4. what about 2 and 3?

[2022-05-28 03:19] fengzf-github commented on #4236
###  I don't quite understand what your questions 2 and 3 mean
###  Here are my two installation procedures

###  1.First installation process

sudo su

conda activate determined

cd /root

git clone https://github.com/determined-ai/determined.git

git clone https://github.com/determined-ai/devcluster.git

cd determined

conda activate determined

make all

cd ../devcluster

pip install -e .

cp d

[2022-05-28 06:18] ioga commented on #4236
Regarding part 1:

So, you login, then remove the database, and then login fails?
Try using "incognito" or "private" mode in the browser, i.e. when you no longer have your auth from the old database. Alternatively, try clearing the cookies for the given host, and see if that helps.

Also try using determined CLI (i.e. `det ...`, e.g. `det experiment list` and see if that works.

Part 2 is another

[2022-05-28 14:39] kelvinwang139 commented on #4225
Thanks for your response. The futher questions:
1、where could set debug:true int the experiment config? We could try to do that.
2、As you mentioned example（[an official example](https://github.com/determined-ai/determined/tree/master/model_hub/examples/mmdetection)），we are trying it by hydra under the directory and the issue occurs as we are discussing.
3、Just a kind remind, the document may need

[2022-05-29 15:57] fengzf-github commented on #4236
After logging in, stop the cluster service and delete the local database directory. Then start the cluster again and the login page cannot be displayed.
Unable to log in after deleting the chrome cache.

The following questions need your help：
1、How to use the source code to build the required image?Where do I need to execute what commands?
2、What components are required to compile and install det

[2022-05-31 02:46] fengzf-github opened #4245 "Ask developers to help answer this question"
[2022-05-31 02:44:25] [316241c6] [30] urllib3.connectionpool: http://192.168.2.109:8080 "GET /api/v1/allocations/7.ee72787d-c20e-4824-b0da-ef3e3287e708.1/signals/preemption?timeout_seconds=60 HTTP/1.1" 200 17
<debug> [2022-05-31 02:44:25] [316241c6] [30] determined.core: (_PreemptionWatcher thread) _get_preemption(60)
<debug> [2022-05-31 02:44:25] [316241c6] [30] urllib3.connectionpool: Starting n

[2022-05-31 13:29] dannysauer commented on #4241
This was initially reported in a Slack #support thread at https://determined-community.slack.com/archives/CV3MTNZ6U/p1653688666785279?thread_ts=1653679454.491989&cid=CV3MTNZ6U

[2022-05-31 14:22] dannysauer commented on #4241
Per https://github.com/openssh/openssh-portable/commit/d13281f2964abc5f2e535e1613c77fc61b0c53e7, the chroot directory check only happens when sshd runs as uid 0 since OpenSSH 7.6p1 (hopefully people have [upgraded](https://www.tenable.com/plugins/nnm/701159) by now).  This makes some sense, as the directory is only useful when the user has the need (and capability) to chroot and drop privileges.

[2022-05-31 14:42] kelvinwang139 commented on #4225
Please refer the new issue: #4245 for full logs when debug：true set.

[2022-05-31 14:47] kelvinwang139 commented on #4245
**Full logs added:**
[2022-05-31T14:24:06.142412Z] || INFO: Scheduling Trial (Experiment 34) (id: 29c616a1-c0bf-418c-a8bd-b855ef8ac23d)
[2022-05-31T14:24:06.254675Z] || INFO: Trial (Experiment 34) was assigned to an agent
[2022-05-31T14:24:06.271551Z] dc5b74e6 || INFO: image already found, skipping pull phase: docker.io/determinedai/model-hub-mmdetection:0.18.1-dev0
[2022-05-31T14:24:06.356988Z] d

[2022-05-31 14:48] fengzf-github opened #4247 "I hope relevant personnel can answer this question. Thank you."
[2022-05-31T14:24:45.194969Z] dc5b74e6 [rank=0] || INFO: [49] root: Creating PyTorchTrialController with MMDetTrial.
[2022-05-31T14:24:45.195053Z] dc5b74e6 [rank=0] || INFO: [49] root: Adding lr updater callback.
[2022-05-31T14:24:45.195422Z] dc5b74e6 [rank=0] || DEBUG: [49] root: Evaluate_batch_defined: True.
[2022-05-31T14:24:45.195426Z] dc5b74e6 [rank=0] || DEBUG: [49] root: Evaluate full datas

[2022-05-31 14:50] kelvinwang139 commented on #4245
more logs because comments size limitations：
[2022-05-31T14:27:14.135584Z] dc5b74e6 [rank=1] || Thread 0x00007f2210724240 (most recent call first):
[2022-05-31T14:27:14.135715Z] dc5b74e6 [rank=1] ||   File "/opt/conda/lib/python3.8/site-packages/model_hub/mmdetection/_data.py", line 82 in __iter__
[2022-05-31T14:27:14.135792Z] dc5b74e6 [rank=1] ||   File "/opt/conda/lib/python3.8/site-packages/tor

[2022-06-02 09:51] fengzf-github opened #4252 "Problems occurred during determined/examples/computer_vision/mmdetection_pytorch/retinanet.yaml task submission"
[2022-06-02T06:58:13.235906Z] a2d36366 [rank=1] ||   '``single_level_grid_anchors`` would be deprecated soon. '
[2022-06-02T07:00:10.947864Z] a2d36366 [rank=0] || INFO: [233] root: trained: 200 records in 118.2s (1.692 records/s), in 100 batches (0.8461 batches/s)
[2022-06-02T07:00:10.948087Z] a2d36366 [rank=0] || INFO: [233] determined.core: report_training_metrics(steps_completed=100, metrics={'

[2022-06-03 16:59] ioga commented on #4236
@fengzf-github since you are opening and closing a number of issues, and it's hard for us to understand what's happening with your setup, I am curious if this issue got resolved?

[2022-06-03 17:03] fengzf-github commented on #4236
I turned off this issue by mistake

[2022-06-03 18:12] ioga commented on #4236
okay.

on a high level, I don't think that building determined from source will your issues. but if this is a goal in itself for you, there're some sparse docs here: https://github.com/determined-ai/determined/blob/master/CONTRIBUTING.md#installation-from-source

I believe you've already used `det experiment create ...` commands to run some experiments, based on your other issues. Running an exper

[2022-06-03 19:19] ioga commented on #4225
I've noticed you've got two determined agents running on the same machine: containers `determined-agent-0` and `determined-agent-1`.
why is that? normally, setups have one agent per node.

[2022-06-06 10:16] fengzf-github commented on #4236
Thank you for your answer，How to use the CLI after the compilation and installation are successful？I got it.
I can also run some experiments successfully.
The following questions need your help to answer：
How to use source code to build images（determined-fluent、determined-agent-0、determined_determined-master_1、determined_determined-db_1） and how to run them？ Is there any relevant document for refe

[2022-06-06 17:35] rb-determined-ai commented on #4241
Yes, we do need to if the user chooses to run containers as UID 0.  Telling users "you can't run as root because we can't guess what the privsep directory is in your sshd binary" is much worse than telling users "you have to have a functional sshd installation in your container", which after reviewing the code you showed, seems like the only reasonable solution here.

[2022-06-06 18:20] dannysauer commented on #4241
After some internal discussion, documenting this directory requirement (along with other requirements) in the [custom container documentation](https://docs.determined.ai/latest/prepare-environment/custom-env.html#custom-docker-images) seems like the most feasible solution.  Maintaining an exhaustive list of every possible vendor's privsep directory doesn't seem like a very good solution.

Users wh

[2022-06-09 10:50] fengzf-github opened #4292 "determined.exec.pid_client FAILED"
An error occurs here. An error is reported after the task is executed for the first verification.  After Task is automatically restarted by determined, an error still occurs during the first verification. The task falls into the cycle of error reporting and restart. The following is the task log. I hope developers can pay attention to this issue. Thank you very much！

[2022-06-09T09:22:29.493000Z]

[2022-06-09 21:59] rb-determined-ai commented on #4292
Hi @fengzf-github, the pid_client process is a thin wrapper process around your training code.  If you are seeing that it failed, it just means that your training code failed.  Can you share your full experiment config and full trial logs?  What you have shared here doesn't seem to have the real failure in it.

[2022-06-10 01:09] fengzf-github commented on #4292
The task is indeed executing, but it falls into a cycle from the beginning to the error (determined.exec.pid_client failed). Finally, I killed the task. Then, without changing anything, submit the task again. This time, the task runs successfully until the end.

This is my configuration information：

(1)config.yaml
name: model_hub_mmdet_experiment_test002
defaults:
    - data: disk
    - profiling

[2022-06-21 03:27] sirredbeard opened #4384 "determined-agent fails to detect GPU on WSL 2 because of NVIDIA_DRIVER_CAPABILITIES env"
Synopsis:

determined-agent cannot detect the passthrough Nvidia GPU on WSL 2 because `NVIDIA_DRIVER_CAPABILITIES` environmental variable is set only to `utility` in the determined-agent Dockerfile. It should be set to `utility,compute`, which is the default setting, see [Nvidia documentation](https://docs.nvidia.com/datacenter/cloud-native/container-toolkit/user-guide.html).

This will also allow

[2022-06-21 18:30] #4384 closed

[2022-06-22 03:26] lqf96 commented on #4100
Hi @ioga , yes I can do it in the weekend... However I'm not sure if any tests are required, and where should I add those tests. Maybe I also need to add this functionality to the documents?

[2022-06-23 16:13] rb-determined-ai commented on #4292
closing due to inactivity.

[2022-06-23 16:13] #4292 closed

[2022-06-29 14:45] varlogtim commented on #3184
This was done by @NicholasBlaskey

[2022-06-29 14:45] #3184 closed

[2022-07-05 09:15] fengzf-github opened #4475 "A problem about mounting distributed file system"
Hello, does determined currently support mounting Minio file system？

The following is the error in mounting the Minio file system during my training model bub task：

# config.yaml

[code]
# base.yaml
[code]
# s3.yaml
[code]

# ann_file.yaml
[code]

# log
[code]

[2022-07-05 13:09] rb-determined-ai commented on #4475
Yes, we support minio.

This error message means that you've configured checkpoint storage to talk to the wrong port.  Probably you just need to change this part:

[code]

to look like this:

[code]

[2022-07-05 19:49] sirredbeard opened #4480 "Determined does not build on Python 3.9 due to TensorFlow 2.4.3 dependency in e2e_tests/tests/requirements.txt"
**Summary**

The [Installation from Source guide](https://github.com/determined-ai/determined/blob/master/CONTRIBUTING.md#installation-from-source) in [CONTRIBUTING.md](https://github.com/determined-ai/determined/blob/master/CONTRIBUTING.md) states that Python `<= 3.9` is supported, however `e2e_tests/tests/requirements.txt` requires `tensorflow==2.4.3` which is not available for Python 3.9.

Pyth

[2022-07-05 20:35] ioga commented on #4480
Hi Hayden,

`determined` python package itself doesn't [depend](https://github.com/determined-ai/determined/blob/master/harness/setup.py#L17) on tensorflow at all, and doesn't restrict its versions, because tensorflow version is usually the user's choice. But we do officially support 1.15 as well as 2.4-2.8. 2.8 is the one we ship by "default" in the environment images.

I expect 2.9 may work as w

[2022-07-05 21:07] sirredbeard commented on #4480
Thank you for your response, @ioga!

`this pin doesn't affect end-users`

But this pin does affect users trying to follow the build guide.

`This upgrade has been on the internal roadmap for some time now`

Could we notate something on the build guide in the meantime?

[2022-07-05 22:24] sirredbeard opened #4481 "Some suggestions for improving the Installation from Source guide"
**Summary**

The [Installation from Source guide](https://github.com/determined-ai/determined/blob/master/CONTRIBUTING.md#installation-from-source) in CONTRIBUTING.md could be more user friendly.

**Expected Results**

The Installation from Source guide allows developers to build Determined in a straightforward path.

**Actual Results**

The Installation from Source guide (IfSg) has some issues th

[2022-07-06 00:11] ioga commented on #4481
These are all great points, looking forward to a PR. Nitpicks:
1. I'd put all items except for the git command under "Ubuntu" (or "Linux") subsection of the IfSg, because these are OS-specific and not applicable e.g. to macOS.
2. For active contributors, I'd recommend using [pyenv](https://github.com/pyenv/pyenv#automatic-installer) instead, because it'd allow more flexibility in your python setup

[2022-07-06 01:23] fengzf-github commented on #4475
Thank you for your support. The problem is solved.

[2022-07-06 01:24] #4475 closed

[2022-07-06 02:08] sirredbeard opened #4482 "Determined master and agent build fail with "missing ProtoReflect method" on Ubuntu 22.04"
**Summary**

Determined master and agent build fail with "missing ProtoReflect method" on Ubuntu 22.04

**Environment**

Ubuntu 22.04
Go 1.18.1 installed from Ubuntu `golang`
Python 3.8.13 installed via third-party PPA
nodejs 16.15.1 installed via NodeSource
protoc 3.12.4 installed from Ubuntu `protobuf-compiler`

**Steps to Reproduce**

Install Ubuntu 22.04
Install Go and protoc from Ubuntu packa

[2022-07-06 02:17] sirredbeard opened #4483 "make -C proto fails on Fedora 36"
**Summary**

`make -C proto fails` on Fedora 36

**Environment**

Fedora 36
node v16.14.0
protoc 3.19.4
python 3.17.13
go 1.18.3

Steps to Reproduce

Install Fedora 36
Install node, protobuf-compiler, python3.7, and go via Fedora package repository.
Clone Determined repository: `git clone --recurse-submodules https://github.com/determined-ai/determined.git`
Enter directory: `cd determined`
Create

[2022-07-06 03:28] ioga commented on #4483
does fedora happen to have an analogue of `libprotobuf-dev`, as suggested [here](https://stackoverflow.com/a/61368354)?

[2022-07-06 03:40] sirredbeard commented on #4483
[Searching for protobuf](https://packages.fedoraproject.org/search?query=protobuf), I can see a [golang-google-protobuf](https://packages.fedoraproject.org/pkgs/golang-google-protobuf/golang-google-protobuf) and [golang-github-protobuf-devel](https://packages.fedoraproject.org/pkgs/golang-github-protobuf/golang-github-protobuf-devel) but installing them doesn't seem to make a difference.

[2022-07-06 03:41] ioga commented on #4482
My guess would be [out of date protoc](https://github.com/golang/protobuf/issues/1451#issuecomment-1139438436), because your `go` version is good, and `protoc-gen-go` version is effectively [pinned in the makefile](https://github.com/determined-ai/determined/blob/master/proto/Makefile#L34).

My recommendation would be to get a not too old, not too new protobuf between [3.15](https://github.com/pro

[2022-07-06 03:49] ioga commented on #4483
The missing file `google/protobuf/any.proto` is not golang-specific but sort of a "standard library" for protobufs regardless of the language. Maybe [protobuf-devel](https://packages.fedoraproject.org/pkgs/protobuf/protobuf-devel/)?
Any way to search fedora package manager by filename / file path?

Also you could check if you already have that file installed in your system, in which case the quest

[2022-07-06 05:01] sirredbeard commented on #4483
Odd, [golang-github-protobuf-devel](https://packages.fedoraproject.org/pkgs/golang-github-protobuf/golang-github-protobuf-devel/) provides [any.go](https://packages.fedoraproject.org/pkgs/golang-github-protobuf/golang-github-protobuf-devel/fedora-36.html#files), along with duration.go, timestamp.go, etc. but not *.proto`.

[golang-github-gogo-protobuf-devel,](https://packages.fedoraproject.org/pkg

[2022-07-06 18:58] sirredbeard commented on #4483
Closing in favor of another solution.

[2022-07-06 18:58] #4483 closed

[2022-07-06 19:07] sirredbeard commented on #4481
Here is my updated proposal:

**First**, amend the existing DIY general build guidelines with recommendations above, with caveat YMMV.

**Second**, have a guide to building Determined with Homebrew, which is reproducible across macOS and Linux distributions.

**Third**, as a stretch goal, provide a container image with all the of the dependencies pre-installed.

[2022-07-06 19:08] sirredbeard commented on #4480
This can be notated in the Installation from Source guide. Closing in favor of #4481.

[2022-07-06 19:08] #4480 closed

[2022-07-07 07:15] #4247 closed

[2022-07-07 07:16] #4245 closed

[2022-07-07 07:32] fengzfcany opened #4492 "When the training task is mount to Minio，How to get data in the model hub task container"
Hello, I have a problem I need your help，thank you！

The following is the content of the configuration file. How to get data in the model hub task container.

# s3.yaml
[code]

# base.yaml

[code]

# ann_file.yaml

[code]

# config.yaml

[code]
#  minio bucket test-data-coco contain coco dataset

[code]

# task log error

[code]

[2022-07-07 11:06] rb-determined-ai commented on #4492
Minio is not a filesystem, it's a key-value store.  You can't "mount" minio into your container, you have to download from minio to your container.  Use the minio library to do it.  Those docs are [here](https://docs.min.io/docs/golang-client-api-reference.html).

Also, don't put anything in `/run/determined`.  You can break your training containers that way.

[2022-07-07 11:59] fengzf-github commented on #4492
In other words, the code of pulling data from Minio in the training task container needs to be implemented by ourselves, right?

[2022-07-07 12:04] fengzf-github commented on #4492
A task is trained by two agents at the same time. What is the relationship between the tasks in the two agents? Which agent is the result of the last output model?

[2022-07-07 12:13] rb-determined-ai commented on #4475
@fengzf-github did this solve your problem?  I would like to close the issue if it did.

[2022-07-07 12:15] fengzf-github commented on #4492
ok，thank you！

[2022-07-07 12:31] fengzf-github commented on #4492
Tasks are submitted in the mode of Hydra in the model hub.

[2022-07-07 13:16] rb-determined-ai commented on #4492
do you have any more questions about this?

[2022-07-07 13:51] rb-determined-ai commented on #4492
I don't see how hydra is relevant.  Hydra is a configuration framework, but you still need to download data from minio to train on it.

[2022-07-07 14:13] rb-determined-ai commented on #4492
great!

[2022-07-07 14:13] #4492 closed, assigned to nobody

[2022-07-11 12:27] fengzf-github opened #4506 "Hello, here is a question for your help. The problem of submitting distributed training tasks has been bothering me."
1、What are the requirements of submitting tasks for the format of data directories in distributed file systems?

2、How to specify the storage directory of the downloaded image data in the container when implementing the pull data code?

thank you！

[2022-07-11 14:31] rb-determined-ai commented on #4506
Determined does not dictate how you format your data.  You could make fake data on the fly for all we care.

The model you are using is going to have data requirements, and one of those requirements is going to be around how to load the data.  You need to read your model's data loader code to know how it expects the data to be arranged on the filesystem.

[2022-07-12 01:55] fengzf-github commented on #4506
# Hello, is the following log information normal?
[code]

[2022-07-12 09:07] fengzf-github commented on #4506
I have two more questions that I need your help to answer：
1、Train my own dataset on how to set the data category name and how to use the customized mmdetection configuration file.
2、In the code to pull data from Minio, how to obtain the parameters about Minio from the configuration file of the submitted task. For example, how can the parameters (endpoint, access_key, secret_key) in the following

[2022-07-13 01:02] fengzf-github commented on #4506
ok，thank you！

[2022-07-13 03:35] fengzf-github commented on #4506
ok，I have a solution to these two problems. Thank you！

[2022-07-13 06:10] hturki opened #4531 "ZeroRedundancyOptimizer support"
Hi,

Is it possible to use Pytorch's https://pytorch.org/tutorials/recipes/zero_redundancy_optimizer.html#how-to-use-zeroredundancyoptimizer in Determined.ai? An initial attempt has it fail with the following stacktrace:

[2022-07-13 05:54:27] [d2997185] [rank=15]   File "/opt/conda/envs/my-env/lib/python3.9/site-packages/torch/distributed/optim/zero_redundancy_optimizer.py", line 391, in __init__

[2022-07-13 07:48] liamcli commented on #4531
Could you provide more information about the code you are trying to run and how you are launching the experiment?

[2022-07-13 19:38] hturki commented on #4531
I unfortunately can't share my code this should be pretty straightforward to reproduce - just swap out the SGD optimizer in the example at https://docs.determined.ai/latest/training-apis/api-pytorch.html#using-optimizer with something like:

`
        optimizer = ZeroRedundancyOptimizer(
            ddp_model.parameters(),
            optimizer_class=torch.optim.SGD,
            lr=0.01
        )

[2022-07-13 19:42] liamcli commented on #4531
Can you try changing the `entrypoint` of the expeirment config to use our pytorch distributed launcher instead:
`entrypoint: python3 -m determined.launch.torch_distributed --trial <YOUR_TRIAL>`

[2022-07-14 04:18] hturki commented on #4531
Sadly the cluster I'm on is not on 0.18 yet :/ feel free to close and i can reopen if needed. Thanks for the quick replies!

[2022-07-15 03:45] fengzf-github opened #4557 "Here is a question about the operation of distributed tasks that you need to help answer."
There are two agents in my determined cluster. Each agent is located on a different physical machine, and each physical machine has two GPUs.
Submit the distributed task and put the parameter slots_ per_ The value of trial is set to 4, and the task runs incorrectly。
My question is, can a distributed task run with all GPUs on multiple physical machines?
If yes, which documents should be referenced

[2022-07-15 15:46] rb-determined-ai commented on #4557
please read the [docs](https://docs.determined.ai/latest/training-distributed/index.html) for basic questions on how distributed training works.

[2022-07-15 15:46] #4557 closed

[2022-07-17 01:20] tekumara opened #4565 "det deploy local cluster-down does not stop fluent"
eg:
[code]

The fluent-bit container is still running:
[code]

version:
[code]

[2022-07-18 08:59] #4252 closed

[2022-07-18 18:19] #4531 closed

[2022-07-18 18:21] #4236 closed

[2022-07-18 22:40] moracabanas opened #4572 "det deploy local cluster-up fails (wrong determinedai/determined-agent image pull)"
Following the official example for a basic workstation I do:
`det deploy local cluster-up`
The `determinedai/determined-agent:0.18.4` gives error at pulling so I manually pulled `latest` and repeat `det deploy ...` and it is fixed.
The default `determined-agent` image reference should be updated as it is now stoping basic installation.

[2022-07-18 23:52] moracabanas commented on #4572
I will check it as I am trying `pop-os` and I am doing initial tests, maybe reinstalling docker could resolve issues.
I will post some tests.
Thanks you!

[2022-07-19 02:31] moracabanas commented on #4572
I reinstalled docker and still getting issues pulling images for some reason.
I am testing pulling `ubuntu:latest` and removing it for several times:

RESUTLS
1. Sometimes it pulls ok.
2. Sometimes I get some of the following errors:

a)
[code]

b)
[code]

c)
[code]

[2022-07-19 04:56] ioga commented on #4572
This is odd, I've never seen anything like it. Can you reproduce it on another machine?

My random guesses would be:
- bad networking setup with a middleware box or a proxy messing your TLS bytes up
- bad RAM, run memtest

Either way, it doesn't seem to be a determined issue, but I'd love to know what the root cause was out of general curiousity.

[2022-07-19 14:35] moracabanas commented on #4572
I bought a Cat 6a ethernet. Docker TLS problem solved. This is crazy.

[2022-07-19 14:35] #4572 closed

[2022-07-21 17:40] benjaminrwilson opened #4608 "PyTorch 1.12 Support"
Hi,

Thanks for this great project! Is PyTorch 1.12 currently supported? If not, when do you expect it will be?

Thanks!